@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat-Regular/Montserrat-Regular.eot") format("embedded-opentype"), url("../fonts/Montserrat-Regular/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../fonts/Montserrat-Bold/Montserrat-Bold.eot") format("embedded-opentype"), url("../fonts/Montserrat-Bold/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url("../fonts/Montserrat-Light/Montserrat-Light.eot") format("embedded-opentype"), url("../fonts/Montserrat-Light/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light/Montserrat-Light.ttf") format("truetype"), url("../fonts/Montserrat-Light/Montserrat-Light.svg#Montserrat-Light") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay-Bold';
  src: url("../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.eot") format("embedded-opentype"), url("../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.woff") format("woff"), url("../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.ttf") format("truetype"), url("../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

input {
  outline: none;
}

.header {
  background-image: url("../img/main/bg_banner.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  background-color: transparent;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #00020E;
  width: 100%;
  height: 36.97vw;
}

.header .heading {
  font: 1.2069vw/1.46552vw "Montserrat-Regular";
  position: sticky;
  top: 0;
  background-color: #00020E;
  color: #ABAEBD;
  z-index: 1;
}

.header .heading .clicker {
  display: none;
}

.header .heading svg {
  fill: #fff;
}

.header .heading_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4.69vw;
  max-width: 1160px;
  margin: auto;
  padding: 0 10px;
}

.header .heading_item {
  width: 5%;
  flex-grow: 1;
  text-align: center;
}

.header .heading_item:first-child, .header .heading_item:last-child {
  flex-grow: 0.5;
}

.header .heading_item:nth-child(4) {
  flex-grow: 2;
}

.header .heading .menu {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.header .heading .menu:hover svg {
  transform: rotate(90deg);
}

.header .heading .menu svg {
  width: 25%;
  margin-right: 5%;
  transition: 1s;
}

.header .heading .menu_list {
  position: absolute;
  top: 0;
  left: 0;
}

.header .heading .services {
  position: relative;
  padding-right: 10%;
  cursor: pointer;
}

.header .heading .services svg {
  position: absolute;
  top: 50%;
  right: 0;
  width: 15%;
  height: 100%;
  transform: translateY(-50%);
}

.header .heading .services_list {
  position: absolute;
  top: 0;
  left: 0;
}

.header .heading .phone_number {
  color: #ABAEBD;
}

.header .heading .phone_number:hover {
  color: #2B64F5;
  text-decoration: underline;
}

.header .heading .logo svg {
  display: block;
  width: 100%;
}

.header .heading .call {
  cursor: pointer;
}

.header .heading .call:hover {
  color: #2B64F5;
  text-decoration: underline;
}

.header .heading .call_popup {
  position: absolute;
  top: 0;
  left: 0;
}

.header .heading .search_label {
  position: relative;
  padding: 0 10%;
}

.header .heading .search_label svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  fill: #ABAEBD;
}

.header .heading .search_input {
  font: 1.2069vw/1.46552vw "Montserrat-Regular";
  width: 50%;
  text-align: center;
  border: 0;
  background-color: #00020E;
  color: #ABAEBD;
}

.header .heading .language {
  position: relative;
  width: 60%;
  margin: auto;
  cursor: pointer;
}

.header .heading .language:hover .language_list {
  visibility: visible;
}

.header .heading .language div {
  margin-top: 0;
}

.header .heading .language_list {
  position: absolute;
  top: 100%;
  left: 0;
  widows: 100%;
  visibility: hidden;
}

.header .heading .language_active {
  padding: 15% 5%;
}

.header .heading .language_item {
  background-color: #00020E;
  padding: 15% 5%;
}

.header .heading .language_item:hover a {
  transform: scale(1.1);
}

.header .heading .language_link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ABAEBD;
}

.header .heading .language_link_img {
  display: flex;
  align-items: center;
  width: 30%;
  margin-left: 5%;
}

.header .heading .language_link_img img {
  width: 100%;
}

.header .content_inner {
  position: relative;
  max-width: 1160px;
  margin: auto;
  padding: 0 10px;
}

.header .content_title {
  font: 3.44828vw/3.87931vw "PlayfairDisplay-Bold";
  width: 64.31%;
  margin-bottom: 3.88%;
  color: #fff;
}

.header .content_description {
  font: 1.2069vw/2.32759vw "Montserrat-Light";
  width: 64.31%;
  color: #ABAEBD;
}

.header .content_link {
  font: 1.2069vw/5.17241vw "Montserrat-Bold";
  position: absolute;
  bottom: 0;
  right: 10px;
  width: 20.69%;
  text-align: center;
  color: #fff;
  background-color: #2B64F5;
  border: 2px solid #000;
  border-radius: 50px;
}

.header .content_link:hover {
  background-color: #fff;
  border: 2px solid #fff;
  color: #000;
}

.header .footer {
  width: 100%;
  background-color: #00020E;
  color: #ABAEBD;
  border-top: 1px solid #2E3141;
}

.header .footer_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1160px;
  margin: auto;
  padding: 2.86% 10px;
}

.header .footer_item {
  width: 31.58%;
}

.header .footer_link:hover .footer_title,
.header .footer_link:hover .footer_description {
  color: #2B64F5;
}

.header .footer_title {
  font: 1.2069vw/1.46552vw "Montserrat-Bold";
  color: #fff;
  margin-bottom: 5.55%;
}

.header .footer_description {
  font: 1.03448vw/1.81034vw "Montserrat-Light";
  color: #5D5F6B;
}

@media only screen and (min-width: 1160px) {
  .header .heading {
    font-size: 14px;
    line-height: 17px;
  }
  .header .heading .search_input {
    font-size: 14px;
    line-height: 17px;
  }
  .header .content_title {
    font-size: 40px;
    line-height: 45px;
  }
  .header .content_description {
    font-size: 14px;
    line-height: 27px;
  }
  .header .content_link {
    font-size: 14px;
    line-height: 60px;
  }
  .header .footer_title {
    font-size: 14px;
    line-height: 17px;
  }
  .header .footer_description {
    font-size: 12px;
    line-height: 21px;
  }
}

.services_section {
  background-image: url("../img/main/bg_services.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  background-color: transparent;
  background-color: #F8F8F8;
  width: 100%;
}

.services_inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  max-width: 1160px;
  margin: auto;
  padding: 4.43% 10px;
}

.services_inner::before {
  content: "";
  position: absolute;
  top: 0;
  right: 76.3%;
  width: 100%;
  height: 32%;
  background-color: #EDEDED;
}

.services_title_description_wrap {
  margin-bottom: 6.14%;
}

.services_title {
  font: 3.44828vw/3.87931vw "PlayfairDisplay-Bold";
  position: relative;
  display: inline-block;
  color: #000;
}

.services_title::first-letter {
  color: #2657D8;
}

.services_title::before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 120%;
  width: 100%;
  height: 1px;
  background-color: #2657D8;
}

.services_description {
  font: 1.2069vw/2.24138vw "Montserrat-Regular";
  width: 31.58%;
  margin: auto;
  color: #000;
}

.services_list {
  display: flex;
  justify-content: space-between;
}

.services_item {
  position: relative;
  width: 22.8%;
}

.services_link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 2, 14, 0.54) 4.85%, rgba(0, 2, 14, 0.95) 88.79%);
  transition: background 1s;
}

.services_link:hover {
  background: linear-gradient(180deg, rgba(0, 15, 105, 0.9) 4.85%, rgba(0, 14, 95, 0.9) 88.79%);
}

.services_link:hover .services_link_fake {
  color: #fff;
}

.services_link:hover svg {
  fill: #fff;
}

.services_link_img {
  width: 100%;
  object-fit: cover;
}

.services_link_title {
  font: 1.37931vw/2.24138vw "Montserrat-Bold";
  position: absolute;
  top: 5%;
  left: 50%;
  width: 80%;
  transform: translateX(-50%);
  color: #fff;
}

.services_link_title span {
  display: block;
}

.services_link_fake {
  font: 1.2069vw/2.06897vw "Montserrat-Bold";
  position: absolute;
  bottom: 10%;
  left: 10%;
  color: #2657D8;
  white-space: nowrap;
}

.services_link_fake svg {
  position: relative;
  left: 10px;
  width: 25%;
  fill: #2657D8;
}

@media only screen and (min-width: 1160px) {
  .services_title {
    font-size: 40px;
    line-height: 45px;
  }
  .services_description {
    font-size: 14px;
    line-height: 26px;
  }
  .services_link_title {
    font-size: 16px;
    line-height: 26px;
  }
  .services_link_fake {
    font-size: 14px;
    line-height: 24px;
  }
}

.advantages_section {
  overflow: hidden;
}

.advantages_section .header {
  background-image: url("../img/main/advantages_header.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  background-color: transparent;
  position: relative;
  height: 18.49vw;
  background-color: #000;
}

.advantages_section .header svg {
  width: 58%;
  position: absolute;
  top: 50%;
  left: 30.7%;
  fill: #5C5C5C;
}

.advantages_section .rectangle_black {
  position: absolute;
  top: 0;
  left: 0;
  width: 34%;
  height: 100%;
  background-color: #000;
}

.advantages_section .description {
  background-image: url("../img/main/advantages_bg.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  background-color: transparent;
  position: relative;
  background-size: 75% 120%;
  background-color: #F8F8F8;
}

.advantages_section .description .rectangle_white {
  position: absolute;
  top: 0;
  left: 35%;
  width: 100%;
  height: 10.42vw;
  transform: translateY(-45%);
  background-color: #fff;
}

.advantages_section .description_inner {
  position: relative;
  max-width: 1160px;
  margin: auto;
  padding: 3.64% 0;
}

.advantages_section .description_inner .advantages_title {
  font: 3.44828vw/3.87931vw "PlayfairDisplay-Bold";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -55%);
  color: #000;
}

.advantages_section .description_inner .advantages_title::first-letter {
  color: #2657D8;
}

.advantages_section .description_inner .advantages_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 11.45% 10px 5.21%;
}

.advantages_section .description_inner .advantages_item {
  width: 25%;
  margin-bottom: 10.53%;
}

.advantages_section .description_inner .advantages_item::before {
  content: "";
  position: relative;
  top: -10%;
  display: block;
  width: 10%;
  border-top: 2px solid #2657D8;
}

.advantages_section .description_inner .advantages_item_title {
  font: 1.37931vw/2.24138vw "Montserrat-Bold";
  color: #000;
  margin-bottom: 7%;
}

.advantages_section .description_inner .advantages_item_title_blue {
  display: block;
  color: #2657D8;
}

.advantages_section .description_inner .advantages_item_number {
  font: 2.06897vw/2.06897vw "Montserrat-Bold";
  color: #000;
  margin-bottom: 7%;
}

.advantages_section .description_inner .advantages_item_description {
  font: 1.2069vw/2.06897vw "Montserrat-Regular";
  color: #5C5C5C;
}

.advantages_section .description_inner .advantages_item_description span {
  display: block;
}

@media only screen and (min-width: 1160px) {
  .advantages_section .description_inner .advantages_title {
    font-size: 40px;
    line-height: 45px;
  }
  .advantages_section .description_inner .advantages_item_title {
    font-size: 16px;
    line-height: 26px;
  }
  .advantages_section .description_inner .advantages_item_number {
    font-size: 24px;
    line-height: 24px;
  }
  .advantages_section .description_inner .advantages_item_description {
    font-size: 14px;
    line-height: 24px;
  }
}

.partners_section {
  position: relative;
  background-color: #fff;
}

.partners_section .rectangle_white {
  position: absolute;
  bottom: 100%;
  left: -60%;
  width: 100%;
  height: 5.73vw;
  background-color: #fff;
}

.partners_section_inner {
  position: relative;
  max-width: 1160px;
  margin: auto;
}

.partners_section_title {
  font: 3.44828vw/3.87931vw "PlayfairDisplay-Bold";
  position: absolute;
  bottom: 100%;
  left: 10px;
}

.partners_section_title::first-letter {
  color: #2657D8;
}

.partners_section_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12.9% 10px;
}

.partners_section_item {
  width: 20%;
}

.partners_section_img {
  width: 100%;
  object-fit: scale-down;
}

@media only screen and (min-width: 1160px) {
  .partners_section_title {
    font-size: 40px;
    line-height: 45px;
  }
}
