@charset "UTF-8";
@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat-Regular/Montserrat-Regular.eot") format("embedded-opentype"), url("../fonts/Montserrat-Regular/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../fonts/Montserrat-Bold/Montserrat-Bold.eot") format("embedded-opentype"), url("../fonts/Montserrat-Bold/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url("../fonts/Montserrat-Light/Montserrat-Light.eot") format("embedded-opentype"), url("../fonts/Montserrat-Light/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light/Montserrat-Light.ttf") format("truetype"), url("../fonts/Montserrat-Light/Montserrat-Light.svg#Montserrat-Light") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay-Bold';
  src: url("../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.eot") format("embedded-opentype"), url("../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.woff") format("woff"), url("../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.ttf") format("truetype"), url("../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, li, menu {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

svg {
  display: block;
  width: 100%;
  height: auto;
}

input,
button {
  outline: none;
  margin: 0;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

label {
  cursor: pointer;
}

@font-face {
  font-family: "myfont";
  src: url("../fonts/iconsfont/myfont.eot");
  src: url("../fonts/iconsfont/myfont.eot?#iefix") format("eot"), url("../fonts/iconsfont/myfont.woff2") format("woff2"), url("../fonts/iconsfont/myfont.woff") format("woff"), url("../fonts/iconsfont/myfont.ttf") format("truetype"), url("../fonts/iconsfont/myfont.svg#myfont") format("svg");
}

.icon-arrow-down:before, .icon-arrow-right-thin:before, .icon-arrow-right:before, .icon-close:before, .icon-info:before, .header .service_open_label:before, .menu_close_label:before, .services__menu_link__arrow_right:before, .services__menu_label:before, .expert_services__head_top_link__icon:before, .expert_services__expertise_description_more__icon:after {
  font-family: "myfont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

.icon-arrow-down:before {
  content: "";
}

.icon-arrow-right-thin:before {
  content: "";
}

.icon-arrow-right:before {
  content: "";
}

.icon-close:before {
  content: "";
}

.icon-info:before {
  content: "";
}

.select_wrap {
  position: relative;
  /*hide original SELECT element:*/
}

.select_wrap select {
  display: none;
}

/*style items (options):*/
.select-items {
  font: 1.4rem/1.8rem "Montserrat-Regular";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 10%;
  background-color: #00020E;
  border: 1px solid #00020E;
  border-top: 0;
  z-index: 2;
  /*style the items (options), including the selected item:*/
}

.select-items div {
  font: 1.4rem/1.8rem "Montserrat-Regular";
  padding: 10%;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.select-items div:hover {
  text-decoration: underline;
}

.select-selected {
  font: 1.4rem/1.8rem "Montserrat-Regular";
  position: relative;
  padding: 10%;
  border: 1px solid #00020E;
  background-color: #00020E;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /*style the arrow inside the select element:*/
  /*point the arrow upwards when the select box is open (active):*/
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.button {
  font: 1.4rem/6rem "Montserrat-Bold";
  text-align: center;
  padding: 0 25px;
  border: 0;
  color: #fff;
  background-color: #2B64F5;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.button:hover {
  background-color: #fff;
  color: #000;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #00020E;
  z-index: 99;
}

.header_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 4.7vw;
  max-width: 1160px;
  margin: auto;
  padding: 0 10px;
}

.header_item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_label {
  font: 1.4rem/1.8rem "Montserrat-Regular";
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ABAEBD;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header_link {
  font: 1.4rem/1.8rem "Montserrat-Regular";
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ABAEBD;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header_link:hover {
  color: #2B64F5;
}

.header_link_svg {
  fill: #fff;
}

.header .menu_open_label .header_label_svg {
  fill: #fff;
}

.header .menu_open_label .header_label_svg_wrap {
  width: 25px;
  margin-right: 10px;
}

.header .consultation {
  color: #ABAEBD;
  border-bottom: 1px solid #ABAEBD;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header .consultation:hover {
  color: #2B64F5;
  border-bottom: 1px solid #2B64F5;
}

.header .service_open_label {
  position: relative;
  padding-right: 15px;
}

.header .service_open_label:before {
  content: "";
}

.header .service_open_label::before {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.8em;
}

.header .logo .header_label_svg_wrap {
  width: 180px;
}

.header .call {
  border-bottom: 1px solid #ABAEBD;
}

.header .call:hover {
  color: #2B64F5;
  border-bottom: 1px solid #2B64F5;
}

.header .search_label {
  position: relative;
  padding-left: 15px;
}

.header .search_svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  fill: #ABAEBD;
}

.header .search_input {
  font: 1.4rem/1.8rem "Montserrat-Regular";
  width: 100px;
  border: 0;
  background-color: #00020E;
  color: #ABAEBD;
}

.header .search_input:focus::-webkit-input-placeholder {
  color: transparent;
}

.header .search_input:focus::-moz-placeholder {
  color: transparent;
}

.header .search_input:focus:-ms-input-placeholder {
  color: transparent;
}

.header .search_input:focus::-ms-input-placeholder {
  color: transparent;
}

.header .search_input:focus::placeholder {
  color: transparent;
}

.header .select_wrap {
  font: 1.4rem/1.8rem "Montserrat-Regular";
  width: 70px;
  color: #ABAEBD;
}

.header .select-selected {
  padding: 7px;
  padding-right: 30px;
  text-transform: uppercase;
}

.header .select-items {
  padding: 0;
  text-transform: uppercase;
}

.header .select-items div {
  position: relative;
  padding: 7px;
  padding-right: 30px;
}

.header .select-items div:first-child::before {
  content: "";
  background-image: url(../img/general/header/ua-flag.png);
  background-size: cover;
  position: absolute;
  right: 7px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 10px;
}

.header .select-items div:nth-child(2)::before {
  content: "";
  background-image: url(../img/general/header/uk-flag.png);
  background-size: cover;
  position: absolute;
  right: 7px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 10px;
}

.header .select-items div:last-child::before {
  content: "";
  background-image: url(../img/general/header/rus-flag.png);
  background-size: cover;
  position: absolute;
  right: 7px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 10px;
}

.ua::before {
  content: "";
  background-image: url(../img/general/header/ua-flag.png);
  background-size: cover;
  position: absolute;
  right: 7px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 10px;
}

.uk::before {
  content: "";
  background-image: url(../img/general/header/uk-flag.png);
  background-size: cover;
  position: absolute;
  right: 7px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 10px;
}

.ru::before {
  content: "";
  background-image: url(../img/general/header/rus-flag.png);
  background-size: cover;
  position: absolute;
  right: 7px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 10px;
}

.menu_checkbox {
  display: none;
}

.menu_checkbox:checked ~ .menu {
  left: 0;
}

.menu {
  position: fixed;
  left: -50%;
  top: 0;
  height: 100vh;
  width: 28%;
  padding: 60px;
  background-color: #00020E;
  z-index: 100;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.menu_inner {
  position: relative;
}

.menu_close_label {
  position: absolute;
  top: 60px;
  right: 40px;
  color: #fff;
}

.menu_close_label:before {
  content: "";
}

.menu_close_label::before {
  display: block;
  font-size: 20px;
}

.menu_close_svg {
  fill: #fff;
}

.menu_list {
  position: relative;
  padding-bottom: 1px;
  margin-top: 30px;
}

.menu_list::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30px;
  border-bottom: 1px solid #5D5F6B;
}

.menu_list:first-child {
  margin-top: 0;
}

.menu_list:last-child::before {
  border-bottom: 0;
}

.menu_item {
  margin-bottom: 30px;
}

.menu_link {
  font: 1.6rem/2rem "Montserrat-Regular";
  color: #fff;
}

.services_checkbox {
  display: none;
}

.services_checkbox:checked ~ .services__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.hidden {
  display: none;
}

.services__menu {
  position: fixed;
  top: 4.7vw;
  left: 50%;
  width: 100%;
  max-width: 1160px;
  max-height: -webkit-calc(100vh - 4.7vw);
  max-height: calc(100vh - 4.7vw);
  z-index: 99;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.services__menu_list {
  position: relative;
  display: inline-block;
  width: 23.54%;
}

.services__menu_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  padding: 20px;
  border-right: 1px solid #2D3354;
  border-bottom: 1px solid #2D3354;
  background-color: #13172F;
}

.services__menu_item:hover {
  background-color: #1F243F;
}

.services__menu_item:hover .services__menu_link {
  color: #2657D8;
}

.services__menu_item:hover .services__menu_link::before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #2657D8;
}

.services__menu_item:hover .services__submenu {
  opacity: 1;
  visibility: visible;
}

.services__menu_link {
  font: 1.4rem/2rem "Montserrat-Bold";
  padding-right: 15px;
  color: #828282;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: default;
}

.services__menu_link__arrow_right {
  position: relative;
}

.services__menu_link__arrow_right:before {
  content: "";
}

.services__menu_link__arrow_right::before {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0.8em;
  color: #828282;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.services__menu_close {
  background-color: #13172F;
}

.services__menu_label {
  display: block;
  padding: 10px;
  background-color: #0F1227;
}

.services__menu_label:before {
  content: "";
}

.services__menu_label:hover {
  background-color: #1F243F;
}

.services__menu_label::before {
  font-size: 2rem;
  color: #828282;
}

.services__menu_label:hover::before {
  color: #2B64F5;
}

.services__submenu {
  display: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 100%;
  width: 324.85%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.services__submenu_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #13172F;
}

.services__submenu_item:hover {
  background-color: #1F243F;
}

.services__submenu_item:hover .services__submenu_link {
  color: #2657D8;
}

.services__submenu_link {
  font: 1.4rem/2rem "Montserrat-Bold";
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  padding: 20px;
  border-bottom: 1px solid #2D3354;
  border-right: 1px solid #2D3354;
  color: #828282;
}

.consultation_checkbox {
  display: none;
}

.consultation_checkbox:checked ~ .popup_consultation {
  display: block;
}

.popup_consultation {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 100;
}

.popup_consultation_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 80px 50px 30px;
  background-color: #fff;
  text-align: center;
}

.popup_consultation_label {
  position: absolute;
  right: 0;
  top: 0;
  width: 38px;
  padding: 8px;
  background-color: #C9C9C9;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.popup_consultation_label:hover {
  background-color: #5D5F6B;
}

.popup_consultation_icon {
  color: #fff;
  font-size: 24px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.popup_consultation_icon::before {
  display: block;
}

.popup_consultation_title {
  font: 2.2rem/2.2rem "Montserrat-Bold";
  max-width: 440px;
  margin-bottom: 50px;
}

.popup_consultation_field {
  font: 1.4rem/3.4rem "Montserrat-Regular";
  display: block;
  margin: 0 auto 25px;
  width: 340px;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #C9C9C9;
  color: #000;
  text-align: center;
}

.popup_consultation_field::-webkit-input-placeholder {
  color: #000;
}

.popup_consultation_field::-moz-placeholder {
  color: #000;
}

.popup_consultation_field:-ms-input-placeholder {
  color: #000;
}

.popup_consultation_field::-ms-input-placeholder {
  color: #000;
}

.popup_consultation_field::placeholder {
  color: #000;
}

.popup_consultation_field:focus::-webkit-input-placeholder {
  color: transparent;
}

.popup_consultation_field:focus::-moz-placeholder {
  color: transparent;
}

.popup_consultation_field:focus:-ms-input-placeholder {
  color: transparent;
}

.popup_consultation_field:focus::-ms-input-placeholder {
  color: transparent;
}

.popup_consultation_field:focus::placeholder {
  color: transparent;
}

.popup_consultation_button {
  margin: 25px auto 50px;
}

.popup_consultation_button:hover {
  background-color: #00020E;
  color: #fff;
}

.popup_consultation_info {
  font: 1.2rem/1.2rem "Montserrat-Regular";
  color: #C9C9C9;
}

.footer {
  background-color: #00020E;
}

.footer_main {
  max-width: 1160px;
  margin: 0 auto;
  padding: 2.6% 10px;
}

.footer_head {
  margin-bottom: 3.5%;
}

.footer_head_logo {
  width: 180px;
}

.footer_head_logo_svg {
  fill: #fff;
}

.footer_content_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer_content_item {
  max-width: 31.5%;
}

.footer_content_title {
  font: 1.4rem/2.4rem "Montserrat-Bold";
  color: #fff;
  margin-bottom: 5.6%;
}

.footer_content_title_link {
  font: 1.4rem/2.4rem "Montserrat-Bold";
  color: #fff;
}

.footer_content_article {
  border-bottom: 1px solid #3F4252;
  padding-bottom: 5.6%;
  margin-bottom: 10px;
}

.footer_content_paragraph {
  font: 1.2rem/2.4rem "Montserrat-Regular";
  color: #ABAEBD;
}

.footer_content_paragraph.overflow {
  max-height: 48px;
  overflow: hidden;
}

.footer_content_link {
  font: 1.2rem/2.4rem "Montserrat-Regular";
  display: inline-block;
  color: #ABAEBD;
}

.footer_content_link:hover {
  text-decoration: underline;
}

.footer_content_link.color {
  color: #fff;
}

.footer_content_arrow {
  display: inline-block;
  width: 17px;
}

.footer_content_arrow_svg {
  fill: #fff;
}

.footer .privacy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer .privacy_link {
  font: 1.4rem/2.4rem "Montserrat-Regular";
  display: block;
  color: #3F4252;
  text-decoration: underline;
}

.footer .privacy_link:hover {
  text-decoration: none;
}

.footer_faq_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer_faq_link {
  font: 1.2rem/2.4rem "Montserrat-Regular";
  color: #ABAEBD;
  text-decoration: underline;
}

.footer_faq_link:hover {
  text-decoration: none;
}

.footer_bottom {
  background-color: #01020A;
}

.footer_bottom_inner {
  max-width: 1160px;
  margin: 0 auto;
  padding: 20px 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_bottom .copyright {
  font: 1.4rem/2.4rem "Montserrat-Regular";
  color: #3F4252;
}

.footer_bottom .copyright_logo {
  width: 5.7%;
}

.footer_bottom .copyright_logo_link:hover .copyright_logo_svg {
  fill: #AC54E2;
}

.footer_bottom .copyright_logo_svg {
  fill: #3F4252;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.error {
  background-color: #fff;
}

.error_inner {
  max-width: 1160px;
  margin: 0 auto;
  padding: 30px 0;
}

.error_pictures {
  position: relative;
  margin-bottom: 35px;
}

.error_404 {
  width: 80%;
  margin: 0 auto;
}

.error_404_img {
  width: 100%;
}

.error .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.error .logo_svg {
  fill: #2B64F5;
}

.error_title {
  font: 3.8rem/4rem "Montserrat-Bold";
  margin-bottom: 15px;
  text-transform: uppercase;
}

.error_description {
  text-align: center;
}

.error_article {
  font: 1.8rem/2.4rem "Montserrat-Regular";
  margin-bottom: 35px;
}

.error_link {
  font: 1.6rem/7.5rem "Montserrat-Bold";
  display: block;
  width: 280px;
  padding: 0 30px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  background-color: #2B64F5;
  border-radius: 50px;
}

.error_link:hover {
  color: #000;
}

.banner {
  background-image: url("../img/main/banner/bg_banner.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  background-color: transparent;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding-top: 4.7vw;
  background-color: #00020E;
}

.banner_inner {
  width: 100%;
  max-width: 1160px;
  margin: auto;
  padding: 6% 10px 7.3%;
}

.banner_title {
  font: 4rem/4.5rem "PlayfairDisplay-Bold";
  margin-bottom: 3.88%;
  color: #fff;
}

.banner_description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner_paragraph {
  font: 1.4rem/2.7rem "Montserrat-Light";
  width: 750px;
  color: #ABAEBD;
}

.banner_label {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}

.banner_footer {
  width: 100%;
  background-color: #00020E;
  color: #ABAEBD;
  border-top: 1px solid #2E3141;
}

.banner_footer_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 1160px;
  margin: auto;
  padding: 2.86% 10px;
}

.banner_footer_item {
  width: 32%;
}

.banner_footer_link:hover .banner_footer_title,
.banner_footer_link:hover .banner_footer_description {
  color: #2B64F5;
}

.banner_footer_title {
  font: 1.4rem/1.7rem "Montserrat-Bold";
  color: #fff;
  margin-bottom: 5.55%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.banner_footer_description {
  font: 1.2rem/2.1rem "Montserrat-Light";
  overflow: hidden;
  max-height: 43px;
  color: #5D5F6B;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.services_checkbox {
  display: none;
}

.services {
  background-image: url("../img/main/services/bg_services.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  background-color: transparent;
  position: relative;
  background-color: #F8F8F8;
  width: 100%;
}

.services::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 34.1%;
  padding-bottom: 10.4%;
  background-color: #EDEDED;
}

.services_inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 1160px;
  margin: auto;
  padding: 4.43% 10px;
}

.services_title_description_wrap {
  margin-bottom: 6.14%;
}

.services_title {
  font: 4rem/4.5rem "PlayfairDisplay-Bold";
  position: relative;
  display: inline-block;
  color: #000;
}

.services_title::first-letter {
  color: #2657D8;
}

.services_title::before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 120%;
  width: 100%;
  height: 1px;
  background-color: #2657D8;
}

.services_description {
  font: 1.4rem/2.6rem "Montserrat-Regular";
  width: 31.58%;
  margin: auto;
  color: #000;
}

.services_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.services_item {
  position: relative;
  width: 22.9%;
}

.services_link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 9.6% 11.5%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(4.85%, rgba(0, 2, 14, 0.54)), color-stop(88.79%, rgba(0, 2, 14, 0.95)));
  background: -o-linear-gradient(top, rgba(0, 2, 14, 0.54) 4.85%, rgba(0, 2, 14, 0.95) 88.79%);
  background: linear-gradient(180deg, rgba(0, 2, 14, 0.54) 4.85%, rgba(0, 2, 14, 0.95) 88.79%);
  z-index: 1;
}

.services_link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(4.85%, rgba(0, 15, 105, 0.9)), color-stop(88.79%, rgba(0, 14, 95, 0.9)));
  background: -o-linear-gradient(top, rgba(0, 15, 105, 0.9) 4.85%, rgba(0, 14, 95, 0.9) 88.79%);
  background: linear-gradient(180deg, rgba(0, 15, 105, 0.9) 4.85%, rgba(0, 14, 95, 0.9) 88.79%);
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
}

.services_link:hover::before {
  opacity: 0.7;
}

.services_link:hover .services_link_more {
  color: #fff;
}

.services_link:hover .services_link_more_svg {
  fill: #fff;
}

.services_link_img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services_link_title {
  font: 1.6rem/2.6rem "Montserrat-Bold";
  color: #fff;
}

.services_link_title span {
  display: block;
}

.services_link_more {
  font: 1.4rem/2.4rem "Montserrat-Bold";
  color: #2657D8;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.services_link_more_svg {
  fill: #2657D8;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.services_link_more_svg_wrap {
  display: inline-block;
  width: 30px;
}

.advantages {
  overflow: hidden;
}

.advantages_heading {
  background-image: url("../img/main/advantages/advantages_header.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  background-color: transparent;
  position: relative;
  padding-bottom: 18.3%;
  background-color: #000;
}

.advantages_heading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 34%;
  height: 100%;
  background-color: #000;
}

.advantages_heading_svg {
  position: absolute;
  bottom: 17.7%;
  left: 30.7%;
  width: 58%;
  fill: #212432;
}

.advantages_description {
  background-image: url("../img/main/advantages/advantages_bg.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  background-color: transparent;
  position: relative;
  background-size: 75% 120%;
  background-color: #F8F8F8;
}

.advantages_description::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 64.37%;
  padding-bottom: 10.42%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #fff;
}

.advantages_description_inner {
  position: relative;
  max-width: 1160px;
  margin: auto;
  padding: 3.64% 0;
}

.advantages_description_inner .advantages_title {
  font: 4rem/4.5rem "PlayfairDisplay-Bold";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -55%);
      -ms-transform: translate(-50%, -55%);
          transform: translate(-50%, -55%);
  color: #000;
}

.advantages_description_inner .advantages_title::first-letter {
  color: #2657D8;
}

.advantages_description_inner .advantages_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 11.45% 10px 5.21%;
}

.advantages_description_inner .advantages_item {
  width: 25%;
  padding-left: 10px;
  margin-bottom: 10.53%;
}

.advantages_description_inner .advantages_item::before {
  content: "";
  position: relative;
  top: -10%;
  display: block;
  width: 10%;
  border-top: 2px solid #2657D8;
}

.advantages_description_inner .advantages_item_title {
  font: 1.6rem/2.6rem "Montserrat-Bold";
  color: #000;
  margin-bottom: 7%;
}

.advantages_description_inner .advantages_item_title_blue {
  display: block;
  color: #2657D8;
}

.advantages_description_inner .advantages_item_number {
  font: 2.4rem/2.4rem "Montserrat-Bold";
  color: #000;
  margin-bottom: 7%;
}

.advantages_description_inner .advantages_item_description {
  font: 1.4rem/2.4rem "Montserrat-Regular";
  color: #212432;
}

.advantages_description_inner .advantages_item_description span {
  display: block;
}

.partners {
  position: relative;
  background-color: #fff;
}

.partners::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: -60%;
  width: 100%;
  padding-bottom: 5.73%;
  background-color: #fff;
}

.partners_inner {
  position: relative;
  max-width: 1160px;
  margin: auto;
  padding: 0 10px;
}

.partners_title {
  font: 4rem/4.5rem "PlayfairDisplay-Bold";
  position: absolute;
  bottom: -webkit-calc(100% - 22.5px);
  bottom: calc(100% - 22.5px);
  left: 10px;
}

.partners_title::first-letter {
  color: #2657D8;
}

.partners_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12.9% 0;
}

.partners_item {
  width: 20%;
}

.partners_img {
  margin: auto;
}

.responses {
  position: relative;
  background-color: #F8F8F8;
}

.responses::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  padding-bottom: 10.5%;
  background-color: #EDEDED;
}

.responses_inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1160px;
  margin: auto;
  padding: 4.2% 10px 6.25%;
}

.responses_title {
  font: 4rem/4rem "PlayfairDisplay-Bold";
  text-align: center;
  margin-bottom: 15.5%;
  z-index: 1;
}

.responses_title::first-letter {
  color: #2657D8;
}

.responses_slider {
  margin-bottom: 0;
}

.responses_slide.slick-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.responses .js_slide_from_slides {
  font: 4rem/4rem "Montserrat-Bold";
  position: absolute;
  left: 115px;
  bottom: -webkit-calc(100% + 175px);
  bottom: calc(100% + 175px);
  color: #C9C9C9;
}

.responses .js_slide_from_slides span {
  color: #000;
}

.responses .slick-dotted.slick-slider {
  margin-bottom: 0;
}

.responses .slick-dots {
  position: absolute;
  bottom: -webkit-calc(100% + 190px);
  bottom: calc(100% + 190px);
  right: 0;
  width: auto;
  height: 15px;
  z-index: 1;
}

.responses .slick-dots li {
  width: 10px;
  height: 10px;
}

.responses .slick-dots li button:before {
  color: #5D5F6B;
}

.responses .slick-dots li.slick-active button:before {
  color: #2657D8;
}

.responses .slick-prev {
  top: unset;
  left: 0;
  bottom: -webkit-calc(100% + 175px);
  bottom: calc(100% + 175px);
  z-index: 1;
}

.responses .slick-prev::before {
  content: '';
  display: block;
  height: 20px;
  background-image: url(../img/svg/main/slider-left-arrow-button.svg);
  background-size: contain;
  opacity: 0.5;
}

.responses .slick-next {
  top: unset;
  left: 250px;
  bottom: -webkit-calc(100% + 175px);
  bottom: calc(100% + 175px);
  z-index: 1;
}

.responses .slick-next::before {
  content: '';
  display: block;
  height: 20px;
  background-image: url(../img/svg/main/slider-right-arrow-button.svg);
  background-size: contain;
  opacity: 0.5;
}

.responses_photo {
  margin-right: 15px;
}

.responses_photo_img {
  border-radius: 50%;
  max-width: unset;
}

.responses_description .title {
  font: 1.4rem/2.4rem "Montserrat-Bold";
  margin-bottom: 20px;
}

.responses_description .paragraph {
  font: 1.4rem/2.4rem "Montserrat-Light";
  max-height: 220px;
  font-style: italic;
}

.price {
  background-color: #F8F8F8;
}

.price_inner {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1160px;
  padding: 0 10px;
  margin: auto;
}

.price .aside {
  position: -webkit-sticky;
  position: sticky;
  top: 4.7vw;
  height: -webkit-calc(100vh - 4.7vw);
  height: calc(100vh - 4.7vw);
  width: 23.25%;
}

.price .aside_inner {
  height: 100%;
}

.price .aside_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  height: 100%;
  padding: 7.58% 0 7.58% 20.84%;
}

.price .aside_link {
  font: 1.4rem/2.4rem "Montserrat-Bold";
  display: block;
  color: #828282;
}

.price .aside_link:hover {
  color: #2657D8;
}

.price .aside_link.active {
  color: #2657D8;
}

.price_content {
  width: 76.75%;
  border-right: 1px solid #C9C9C9;
}

.price .expertise_inner,
.price .research_inner,
.price .realty_inner,
.price .autotransport_inner,
.price .airtransport_inner,
.price .equipment_inner,
.price .enterprise_inner {
  padding-bottom: 9.45%;
}

.price .expertise_top,
.price .research_top,
.price .realty_top,
.price .autotransport_top,
.price .airtransport_top,
.price .equipment_top,
.price .enterprise_top {
  position: relative;
}

.price .expertise_top::before,
.price .research_top::before,
.price .realty_top::before,
.price .autotransport_top::before,
.price .airtransport_top::before,
.price .equipment_top::before,
.price .enterprise_top::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 200%;
  padding-bottom: 22.86%;
  background-color: #EDEDED;
}

.price .expertise_title,
.price .research_title,
.price .realty_title,
.price .autotransport_title,
.price .airtransport_title,
.price .equipment_title,
.price .enterprise_title {
  font: 4rem/4.6rem "PlayfairDisplay-Bold";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
}

.price .expertise_title::first-letter,
.price .research_title::first-letter,
.price .realty_title::first-letter,
.price .autotransport_title::first-letter,
.price .airtransport_title::first-letter,
.price .equipment_title::first-letter,
.price .enterprise_title::first-letter {
  color: #2657D8;
}

.price .expertise_img,
.price .research_img,
.price .realty_img,
.price .autotransport_img,
.price .airtransport_img,
.price .equipment_img,
.price .enterprise_img {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  max-height: 100%;
}

.price .expertise_img_wrap,
.price .research_img_wrap,
.price .realty_img_wrap,
.price .autotransport_img_wrap,
.price .airtransport_img_wrap,
.price .equipment_img_wrap,
.price .enterprise_img_wrap {
  position: relative;
  padding-bottom: 22.86%;
  margin-left: auto;
  overflow: hidden;
  z-index: 1;
}

.price .expertise_content_list,
.price .research_content_list,
.price .realty_content_list,
.price .autotransport_content_list,
.price .airtransport_content_list,
.price .equipment_content_list,
.price .enterprise_content_list {
  padding: 6.86% 2.29% 2.29% 0;
}

.price .expertise_content_item,
.price .research_content_item,
.price .realty_content_item,
.price .autotransport_content_item,
.price .airtransport_content_item,
.price .equipment_content_item,
.price .enterprise_content_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.34% 0;
}

.price .expertise_content_item .description_left,
.price .research_content_item .description_left,
.price .realty_content_item .description_left,
.price .autotransport_content_item .description_left,
.price .airtransport_content_item .description_left,
.price .equipment_content_item .description_left,
.price .enterprise_content_item .description_left {
  font: 1.4rem/2.4rem "Montserrat-Regular";
  width: 65%;
  color: #212121;
}

.price .expertise_content_item .description_right,
.price .research_content_item .description_right,
.price .realty_content_item .description_right,
.price .autotransport_content_item .description_right,
.price .airtransport_content_item .description_right,
.price .equipment_content_item .description_right,
.price .enterprise_content_item .description_right {
  font: 1.4rem/2.4rem "Montserrat-Bold";
  width: 20%;
}

.price .expertise_bottom_description,
.price .research_bottom_description,
.price .realty_bottom_description,
.price .autotransport_bottom_description,
.price .airtransport_bottom_description,
.price .equipment_bottom_description,
.price .enterprise_bottom_description {
  font: 1.4rem/2.4rem "Montserrat-Regular";
  color: #949494;
}

.about {
  background-color: #F8F8F8;
}

.about__inner {
  position: relative;
  max-width: 1160px;
  padding: 0 10px;
  margin: auto;
}

.about .company {
  margin-bottom: 7%;
}

.about .company__title {
  position: relative;
  margin-bottom: 5.7%;
}

.about .company__title::before {
  content: "";
  position: absolute;
  top: 0;
  right: 22.8%;
  width: 200%;
  padding-bottom: 17.54%;
  background-color: #EDEDED;
}

.about .company__title::after {
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 17.54%;
}

.about .company__title_inner {
  font: 4rem/5rem "PlayfairDisplay-Bold";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.about .company__title_inner__first_letter::first-letter {
  color: #2657D8;
}

.about .company__description_footer {
  font: 1.4rem/2.4rem "Montserrat-Regular";
  color: #212121;
}

.about .company__specialize {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5.7%;
}

.about .company__specialize_title {
  font: 1.8rem/2.6rem "Montserrat-Bold";
  width: 22.8%;
}

.about .company__specialize_description {
  font: 1.4rem/2.4rem "Montserrat-Regular";
  width: 74%;
  color: #212121;
}

.about .company__photo {
  margin-bottom: 5.7%;
}

.about .company__experience {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 5.7%;
  border-bottom: 1px solid #ABAEBD;
  margin-bottom: 5.7%;
}

.about .company__experience_title {
  font: 1.8rem/2.6rem "Montserrat-Bold";
  width: 22.8%;
}

.about .company__experience_list {
  font: 1.4rem/2.4rem "Montserrat-Regular";
  width: 34.2%;
  color: #212121;
}

.about .company__experience_item {
  margin-bottom: 6.4%;
}

.about .company__experience_description {
  font: 1.4rem/2.4rem "Montserrat-Regular";
  width: 34.2%;
  color: #212121;
}

.about .equipment {
  margin-bottom: 7%;
}

.about .equipment__title {
  font: 3rem/3rem "PlayfairDisplay-Bold";
  margin-bottom: 5.7%;
}

.about .equipment__title__first_letter::first-letter {
  color: #2657D8;
}

.about .equipment__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .equipment__item {
  position: relative;
  width: 22.8%;
}

.about .equipment__item:last-child .equipment__item_description {
  left: unset;
  right: 0;
}

.about .equipment__item_front {
  position: relative;
}

.about .equipment__item_front:hover + .equipment__item_description {
  opacity: 1;
  visibility: visible;
}

.about .equipment__item_photo {
  position: relative;
}

.about .equipment__item_photo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2657D8;
  opacity: 0.7;
}

.about .equipment__item_photo_img {
  width: 100%;
}

.about .equipment__item_icon {
  position: absolute;
  left: 15px;
  top: 15px;
  font-size: 18px;
  color: #fff;
}

.about .equipment__item_title {
  font: 2.2rem/2.6rem "Montserrat-Bold";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0 15px;
  color: #fff;
}

.about .equipment__item_description {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 170%;
  padding: 15px;
  background-color: #2657D8;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 1;
}

.about .equipment__item_description_title {
  font: 1.8rem/2.6rem "Montserrat-Bold";
  margin-bottom: 15px;
  color: #fff;
}

.about .equipment__item_description_paragraph {
  font: 1.4rem/2.4rem "Montserrat-Regular";
  color: #fff;
}

.about .credo {
  padding-bottom: 7%;
}

.about .credo__paragraph {
  font: 4rem/5rem "Montserrat-Bold";
}

.expert_services {
  background-color: #F8F8F8;
}

.expert_services__head {
  background-image: url(../img/expert_services/expert_services__head_bg.jpg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  background-color: transparent;
  padding-bottom: 3.65%;
}

.expert_services__head_inner {
  max-width: 1160px;
  padding: 20px 10px;
  margin: 0 auto;
}

.expert_services__head_top {
  margin-bottom: 5.7%;
}

.expert_services__head_top_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.expert_services__head_top_item {
  margin-right: 5px;
}

.expert_services__head_top_link {
  font: 1.4rem/2.4rem "Montserrat-Regular";
  color: #C9C9C9;
}

.expert_services__head_top_link:hover {
  text-shadow: 0 0 3px;
}

.expert_services__head_top_link__icon:before {
  content: "";
}

.expert_services__head_top_link__icon::before {
  font-size: 0.6em;
}

.expert_services__head_title {
  font: 3.6rem/4.2rem "PlayfairDisplay-Bold";
  color: #fff;
}

.expert_services__inner {
  max-width: 1160px;
  padding: 50px 10px;
  margin: 0 auto;
}

.expert_services__description {
  font: 1.4rem/2.4rem "Montserrat-Regular";
  margin-bottom: 6.14%;
  color: #212121;
}

.expert_services__expertise_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.expert_services__expertise_item {
  height: 100%;
}

.expert_services__expertise_link {
  position: relative;
  display: block;
  height: 100%;
}

.expert_services__expertise_link:hover .expert_services__expertise_img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.expert_services__expertise_photo {
  height: 100%;
  overflow: hidden;
}

.expert_services__expertise_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.expert_services__expertise_description {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 11.45%;
}

.expert_services__expertise_description_title {
  font: 1.6rem/2.4rem "Montserrat-Bold";
  color: #fff;
  overflow: hidden;
}

.expert_services__expertise_description_price {
  font: 1.8rem/2.4rem "Montserrat-Bold";
  margin-bottom: 20px;
  color: #2BDE28;
}

.expert_services__expertise_description_more {
  font: 1.4rem/2.4rem "Montserrat-Bold";
  color: #2657D8;
}

.expert_services__expertise_description_more__icon:after {
  content: "";
}

.expert_services__expertise_description_more__icon::after {
  font-size: 0.6em;
}

.contacts {
  background-color: #F8F8F8;
}

.contacts__inner {
  position: relative;
  max-width: 1160px;
  padding: 0 10px;
  margin: auto;
}

.contacts__top {
  position: relative;
  margin-bottom: 5.7%;
}

.contacts__top::before {
  content: "";
  position: absolute;
  top: 0;
  right: 22.8%;
  width: 200%;
  padding-bottom: 17.54%;
  background-color: #EDEDED;
}

.contacts__top::after {
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 17.54%;
}

.contacts__title {
  font: 4rem/5rem "PlayfairDisplay-Bold";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contacts__title__first_letter::first-letter {
  color: #2657D8;
}

.contacts__content {
  display: grid;
  grid-template-columns: 35.96% 57%;
  grid-row-gap: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 6.58%;
}

.contacts__content_title {
  font: 1.8rem/2.6rem "Montserrat-Bold";
  margin-bottom: 25px;
  color: #212121;
}

.contacts__content_description_paragraph {
  font: 1.4rem/2.4rem "Montserrat-Regular";
  color: #212121;
  margin-bottom: 30px;
}

.contacts__content_description_item {
  font: 1.4rem/2.4rem "Montserrat-Regular";
  color: #212121;
}

.contacts__content_description_link {
  font: 1.4rem/2.4rem "Montserrat-Regular";
  color: #212121;
}

.contacts__content_call_center .contacts__content_description_list {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-gap: 30px;
}

.contacts__content_call_center .contacts__content_description_link {
  display: block;
  line-height: 44px;
  border: 1px solid #000;
  text-align: center;
}

.contacts__content_map {
  position: relative;
  grid-area: 2/2/5/3;
  justify-self: center;
  width: 100%;
}

.contacts__content_map_iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.contacts__content_form .form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__content_form .input {
  font: 1.4rem/4rem "Montserrat-Regular";
  padding: 0;
  border: 0;
  border-bottom: 1px solid #ABAEBD;
  margin-bottom: 6.1%;
  background-color: transparent;
}

.contacts__content_form .input::-webkit-input-placeholder {
  color: #000;
}

.contacts__content_form .input::-moz-placeholder {
  color: #000;
}

.contacts__content_form .input:-ms-input-placeholder {
  color: #000;
}

.contacts__content_form .input::-ms-input-placeholder {
  color: #000;
}

.contacts__content_form .input::placeholder {
  color: #000;
}

.contacts__content_form .input:focus::-webkit-input-placeholder {
  color: transparent;
}

.contacts__content_form .input:focus::-moz-placeholder {
  color: transparent;
}

.contacts__content_form .input:focus:-ms-input-placeholder {
  color: transparent;
}

.contacts__content_form .input:focus::-ms-input-placeholder {
  color: transparent;
}

.contacts__content_form .input:focus::placeholder {
  color: transparent;
}

.contacts__content_form .submit {
  font: 1.4rem/6rem "Montserrat-Bold";
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  padding: 0 25px;
  border: 0;
  margin-bottom: 0;
  color: #fff;
  background-color: #2B64F5;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.js_description_open .faq__content_description_title {
  color: #2657D8;
}

.js_description_open .faq__content_description_title::before {
  content: '-';
}

.faq {
  background-color: #F8F8F8;
}

.faq__inner {
  position: relative;
  max-width: 1160px;
  padding: 0 10px;
  margin: auto;
}

.faq__top {
  position: relative;
  margin-bottom: 5.7%;
}

.faq__top::before {
  content: "";
  position: absolute;
  top: 0;
  right: 22.8%;
  width: 200%;
  padding-bottom: 17.54%;
  background-color: #EDEDED;
}

.faq__top::after {
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 17.54%;
}

.faq__title {
  font: 4rem/5rem "PlayfairDisplay-Bold";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.faq__title__first_letter::first-letter {
  color: #2657D8;
}

.faq__content {
  padding-bottom: 6.58%;
}

.faq__content_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 4.82%;
}

.faq__content_section:last-child {
  padding-bottom: 0;
}

.faq__content_title {
  font: 1.8rem/2.6rem "Montserrat-Bold";
  padding-right: 15px;
  color: #212121;
}

.faq__content_description {
  width: 74.12%;
}

.faq__content_description_item {
  border-bottom: 1px solid #ABAEBD;
  margin-bottom: 15px;
}

.faq__content_description_item:last-child {
  margin-bottom: 0;
}

.faq__content_description_top {
  margin-bottom: 25px;
}

.faq__content_description_title {
  font: 1.4rem/2.4rem "Montserrat-Bold";
  position: relative;
  color: #212121;
  cursor: pointer;
}

.faq__content_description_title::before {
  content: '+';
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 20px;
}

.faq__content_description_bottom {
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.faq__content_description_paragraph {
  font: 1.4rem/2.4rem "Montserrat-Regular";
  padding-bottom: 25px;
  color: #212121;
}
