@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat-Regular/Montserrat-Regular.eot") format("embedded-opentype"), url("../fonts/Montserrat-Regular/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../fonts/Montserrat-Bold/Montserrat-Bold.eot") format("embedded-opentype"), url("../fonts/Montserrat-Bold/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url("../fonts/Montserrat-Light/Montserrat-Light.eot") format("embedded-opentype"), url("../fonts/Montserrat-Light/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light/Montserrat-Light.ttf") format("truetype"), url("../fonts/Montserrat-Light/Montserrat-Light.svg#Montserrat-Light") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay-Bold';
  src: url("../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.eot") format("embedded-opentype"), url("../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.woff") format("woff"), url("../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.ttf") format("truetype"), url("../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

svg {
  display: block;
  width: 100%;
  height: auto;
}

input {
  outline: none;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #00020E;
  z-index: 99;
}

.header_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 4.69vw;
  max-width: 1160px;
  margin: auto;
  padding: 0 10px;
}

.header_item {
  text-align: center;
}

.header_link {
  font: 1.4rem/1.8rem "Montserrat-Regular";
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ABAEBD;
}

.header_link_svg {
  fill: #fff;
}

.header_link.menu .header_link_svg {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header_link.menu .header_link_svg_wrap {
  width: 25px;
  margin-right: 10px;
}

.header_link.menu:hover .header_link_svg {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header_link.service {
  padding-right: 15px;
}

.header_link.service .header_link_svg {
  height: 100%;
  fill: #ABAEBD;
}

.header_link.service .header_link_svg_wrap {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 10px;
  height: 10px;
}

.header_link.logo .header_link_svg_wrap {
  width: 180px;
}

.header_link.call {
  border-bottom: 1px solid #ABAEBD;
}

.header_link.call:hover {
  color: #2B64F5;
  border-bottom: 1px solid #2B64F5;
}

.header .search_label {
  position: relative;
  padding-left: 15px;
}

.header .search_label svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  fill: #ABAEBD;
}

.header .search_input {
  font: 1.4rem/1.8rem "Montserrat-Regular";
  width: 100px;
  border: 0;
  background-color: #00020E;
  color: #ABAEBD;
}

.header .select_wrap {
  font: 1.4rem/1.8rem "Montserrat-Regular";
  width: 70px;
  color: #ABAEBD;
}

.header .select-selected {
  padding: 7px;
  padding-right: 30px;
  text-transform: uppercase;
}

.header .select-selected::before {
  content: "";
  background-size: cover;
  position: absolute;
  right: 7px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 10px;
}

.header .select-items {
  padding: 0;
  text-transform: uppercase;
}

.header .select-items div {
  position: relative;
  padding: 7px;
  padding-right: 30px;
}

.header .select-items div:first-child::before {
  content: "";
  background-image: url(../img/general/header/ua-flag.png);
  background-size: cover;
  position: absolute;
  right: 7px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 10px;
}

.header .select-items div:nth-child(2)::before {
  content: "";
  background-image: url(../img/general/header/uk-flag.png);
  background-size: cover;
  position: absolute;
  right: 7px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 10px;
}

.header .select-items div:last-child::before {
  content: "";
  background-image: url(../img/general/header/rus-flag.png);
  background-size: cover;
  position: absolute;
  right: 7px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 10px;
}

.footer {
  background-color: #00020E;
}

.footer_main {
  max-width: 1160px;
  margin: 0 auto;
  padding: 2.6% 10px;
}

.footer_head {
  margin-bottom: 3.5%;
}

.footer_head_logo {
  width: 180px;
}

.footer_head_logo_svg {
  fill: #fff;
}

.footer_content_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer_content_item {
  max-width: 31.5%;
}

.footer_content_title {
  font: 1.4rem/2.4rem "Montserrat-Bold";
  color: #fff;
  margin-bottom: 5.6%;
}

.footer_content_article {
  border-bottom: 1px solid #3F4252;
  padding-bottom: 5.6%;
  margin-bottom: 10px;
}

.footer_content_paragraph {
  font: 1.2rem/2.4rem "Montserrat-Regular";
  color: #ABAEBD;
}

.footer_content_paragraph.overflow {
  max-height: 48px;
  overflow: hidden;
}

.footer_content_link {
  font: 1.2rem/2.4rem "Montserrat-Regular";
  display: inline-block;
  color: #ABAEBD;
}

.footer_content_link:hover {
  text-decoration: underline;
}

.footer_content_link.color {
  color: #fff;
}

.footer_content_arrow {
  display: inline-block;
  width: 17px;
}

.footer_content_arrow_svg {
  fill: #fff;
}

.footer .privacy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer .privacy_link {
  font: 1.4rem/2.4rem "Montserrat-Regular";
  display: block;
  color: #3F4252;
  text-decoration: underline;
}

.footer .privacy_link:hover {
  text-decoration: none;
}

.footer_faq_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer_faq_link {
  font: 1.2rem/2.4rem "Montserrat-Regular";
  color: #ABAEBD;
  text-decoration: underline;
}

.footer_faq_link:hover {
  text-decoration: none;
}

.footer_bottom {
  background-color: #01020A;
}

.footer_bottom_inner {
  max-width: 1160px;
  margin: 0 auto;
  padding: 20px 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_bottom .copyright {
  font: 1.4rem/2.4rem "Montserrat-Regular";
  color: #3F4252;
}

.footer_bottom .copyright_logo {
  width: 5.7%;
}

.footer_bottom .copyright_logo_svg {
  fill: #3F4252;
}

.error {
  background-color: #fff;
}

.error_inner {
  max-width: 1160px;
  margin: 0 auto;
  padding: 30px 0;
}

.error_pictures {
  position: relative;
  margin-bottom: 35px;
}

.error_404 {
  width: 80%;
  margin: 0 auto;
}

.error_404_img {
  width: 100%;
}

.error .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.error .logo_svg {
  fill: #2B64F5;
}

.error_title {
  font: 3.8rem/4rem "Montserrat-Bold";
  margin-bottom: 15px;
  text-transform: uppercase;
}

.error_description {
  text-align: center;
}

.error_article {
  font: 1.8rem/2.4rem "Montserrat-Regular";
  margin-bottom: 35px;
}

.error_link {
  font: 1.6rem/7.5rem "Montserrat-Bold";
  display: block;
  width: 280px;
  padding: 0 30px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  background-color: #2B64F5;
  border-radius: 50px;
}

.error_link:hover {
  color: #000;
}

.select_wrap {
  position: relative;
  /*hide original SELECT element:*/
}

.select_wrap select {
  display: none;
}

/*style items (options):*/
.select-items {
  font: 1.4rem/1.8rem "Montserrat-Regular";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 10%;
  background-color: #00020E;
  border: 1px solid #00020E;
  border-top: 0;
  z-index: 2;
  /*style the items (options), including the selected item:*/
}

.select-items div {
  font: 1.4rem/1.8rem "Montserrat-Regular";
  padding: 10%;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.select-items div:hover {
  text-decoration: underline;
}

.select-selected {
  font: 1.4rem/1.8rem "Montserrat-Regular";
  position: relative;
  padding: 10%;
  border: 1px solid #00020E;
  background-color: #00020E;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /*style the arrow inside the select element:*/
  /*point the arrow upwards when the select box is open (active):*/
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.banner {
  background-image: url("../img/main/banner/bg_banner.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  background-color: transparent;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #00020E;
}

.banner .content {
  width: 100%;
  max-width: 1160px;
  margin: auto;
  padding: 6% 10px 7.3%;
}

.banner .content_title {
  font: 4rem/4.5rem "PlayfairDisplay-Bold";
  margin-bottom: 3.88%;
  color: #fff;
}

.banner .content_description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner .content_paragraph {
  font: 1.4rem/2.7rem "Montserrat-Light";
  width: 750px;
  color: #ABAEBD;
}

.banner .content_link {
  font: 1.4rem/6rem "Montserrat-Bold";
  width: 240px;
  text-align: center;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  color: #fff;
  background-color: #2B64F5;
  border-radius: 50px;
}

.banner .content_link:hover {
  background-color: #fff;
  color: #000;
}

.banner .footer {
  width: 100%;
  background-color: #00020E;
  color: #ABAEBD;
  border-top: 1px solid #2E3141;
}

.banner .footer_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 1160px;
  margin: auto;
  padding: 2.86% 10px;
}

.banner .footer_item {
  width: 32%;
}

.banner .footer_link:hover .footer_title,
.banner .footer_link:hover .footer_description {
  color: #2B64F5;
}

.banner .footer_title {
  font: 1.4rem/1.7rem "Montserrat-Bold";
  color: #fff;
  margin-bottom: 5.55%;
}

.banner .footer_description {
  font: 1.2rem/2.1rem "Montserrat-Light";
  overflow: hidden;
  max-height: 43px;
  color: #5D5F6B;
}

.services {
  background-image: url("../img/main/services/bg_services.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  background-color: transparent;
  position: relative;
  background-color: #F8F8F8;
  width: 100%;
}

.services::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 34.1%;
  padding-bottom: 10.4%;
  background-color: #EDEDED;
}

.services_inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 1160px;
  margin: auto;
  padding: 4.43% 10px;
}

.services_title_description_wrap {
  margin-bottom: 6.14%;
}

.services_title {
  font: 4rem/4.5rem "PlayfairDisplay-Bold";
  position: relative;
  display: inline-block;
  color: #000;
}

.services_title::first-letter {
  color: #2657D8;
}

.services_title::before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 120%;
  width: 100%;
  height: 1px;
  background-color: #2657D8;
}

.services_description {
  font: 1.4rem/2.6rem "Montserrat-Regular";
  width: 31.58%;
  margin: auto;
  color: #000;
}

.services_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.services_item {
  position: relative;
  width: 22.9%;
}

.services_link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 9.6% 11.5%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(4.85%, rgba(0, 2, 14, 0.54)), color-stop(88.79%, rgba(0, 2, 14, 0.95)));
  background: -o-linear-gradient(top, rgba(0, 2, 14, 0.54) 4.85%, rgba(0, 2, 14, 0.95) 88.79%);
  background: linear-gradient(180deg, rgba(0, 2, 14, 0.54) 4.85%, rgba(0, 2, 14, 0.95) 88.79%);
  -webkit-transition: background 1s;
  -o-transition: background 1s;
  transition: background 1s;
}

.services_link:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(4.85%, rgba(0, 15, 105, 0.9)), color-stop(88.79%, rgba(0, 14, 95, 0.9)));
  background: -o-linear-gradient(top, rgba(0, 15, 105, 0.9) 4.85%, rgba(0, 14, 95, 0.9) 88.79%);
  background: linear-gradient(180deg, rgba(0, 15, 105, 0.9) 4.85%, rgba(0, 14, 95, 0.9) 88.79%);
}

.services_link:hover .services_link_more {
  color: #fff;
}

.services_link:hover .services_link_more_svg {
  fill: #fff;
}

.services_link_img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services_link_title {
  font: 1.6rem/2.6rem "Montserrat-Bold";
  color: #fff;
}

.services_link_title span {
  display: block;
}

.services_link_more {
  font: 1.4rem/2.4rem "Montserrat-Bold";
  color: #2657D8;
}

.services_link_more_svg {
  fill: #2657D8;
}

.services_link_more_svg_wrap {
  display: inline-block;
  width: 30px;
}

.advantages {
  overflow: hidden;
}

.advantages_heading {
  background-image: url("../img/main/advantages/advantages_header.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  background-color: transparent;
  position: relative;
  padding-bottom: 18.3%;
  background-color: #000;
}

.advantages_heading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 34%;
  height: 100%;
  background-color: #000;
}

.advantages_heading_svg {
  position: absolute;
  bottom: 17.7%;
  left: 30.7%;
  width: 58%;
  fill: #212432;
}

.advantages_description {
  background-image: url("../img/main/advantages/advantages_bg.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  background-color: transparent;
  position: relative;
  background-size: 75% 120%;
  background-color: #F8F8F8;
}

.advantages_description::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 64.37%;
  padding-bottom: 10.42%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #fff;
}

.advantages_description_inner {
  position: relative;
  max-width: 1160px;
  margin: auto;
  padding: 3.64% 0;
}

.advantages_description_inner .advantages_title {
  font: 4rem/4.5rem "PlayfairDisplay-Bold";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -55%);
      -ms-transform: translate(-50%, -55%);
          transform: translate(-50%, -55%);
  color: #000;
}

.advantages_description_inner .advantages_title::first-letter {
  color: #2657D8;
}

.advantages_description_inner .advantages_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 11.45% 10px 5.21%;
}

.advantages_description_inner .advantages_item {
  width: 25%;
  padding-left: 10px;
  margin-bottom: 10.53%;
}

.advantages_description_inner .advantages_item::before {
  content: "";
  position: relative;
  top: -10%;
  display: block;
  width: 10%;
  border-top: 2px solid #2657D8;
}

.advantages_description_inner .advantages_item_title {
  font: 1.6rem/2.6rem "Montserrat-Bold";
  color: #000;
  margin-bottom: 7%;
}

.advantages_description_inner .advantages_item_title_blue {
  display: block;
  color: #2657D8;
}

.advantages_description_inner .advantages_item_number {
  font: 2.4rem/2.4rem "Montserrat-Bold";
  color: #000;
  margin-bottom: 7%;
}

.advantages_description_inner .advantages_item_description {
  font: 1.4rem/2.4rem "Montserrat-Regular";
  color: #212432;
}

.advantages_description_inner .advantages_item_description span {
  display: block;
}

.partners {
  position: relative;
  background-color: #fff;
}

.partners::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: -60%;
  width: 100%;
  padding-bottom: 5.73%;
  background-color: #fff;
}

.partners_inner {
  position: relative;
  max-width: 1160px;
  margin: auto;
  padding: 0 10px;
}

.partners_title {
  font: 4rem/4.5rem "PlayfairDisplay-Bold";
  position: absolute;
  bottom: -webkit-calc(100% - 22.5px);
  bottom: calc(100% - 22.5px);
  left: 10px;
}

.partners_title::first-letter {
  color: #2657D8;
}

.partners_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12.9% 0;
}

.partners_item {
  width: 20%;
}

.partners_img {
  max-width: 100%;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.responses {
  position: relative;
  background-color: #F8F8F8;
}

.responses::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  padding-bottom: 10.5%;
  background-color: #EDEDED;
}

.responses_inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1160px;
  margin: auto;
  padding: 4.2% 10px 6.25%;
}

.responses_title {
  font: 4rem/4rem "PlayfairDisplay-Bold";
  text-align: center;
  margin-bottom: 15.5%;
  z-index: 1;
}

.responses_title::first-letter {
  color: #2657D8;
}

.responses_slider {
  margin-bottom: 0;
}

.responses_slide.slick-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.responses .slick-dotted.slick-slider {
  margin-bottom: 0;
}

.responses .slick-dots {
  position: absolute;
  bottom: -webkit-calc(100% + 190px);
  bottom: calc(100% + 190px);
  right: 0;
  width: auto;
  height: 15px;
  z-index: 1;
}

.responses .slick-dots li {
  width: 10px;
  height: 10px;
}

.responses .slick-dots li button:before {
  color: #5D5F6B;
}

.responses .slick-dots li.slick-active button:before {
  color: #2657D8;
}

.responses .slick-prev {
  top: unset;
  left: 0;
  bottom: -webkit-calc(100% + 175px);
  bottom: calc(100% + 175px);
  z-index: 1;
}

.responses .slick-prev::before {
  content: '';
  display: block;
  height: 20px;
  background-image: url(../img/svg/main/slider-left-arrow-button.svg);
  background-size: contain;
  opacity: 0.5;
}

.responses .slick-next {
  top: unset;
  left: 250px;
  bottom: -webkit-calc(100% + 175px);
  bottom: calc(100% + 175px);
  z-index: 1;
}

.responses .slick-next::before {
  content: '';
  display: block;
  height: 20px;
  background-image: url(../img/svg/main/slider-right-arrow-button.svg);
  background-size: contain;
  opacity: 0.5;
}

.responses_photo {
  margin-right: 15px;
}

.responses_photo_img {
  border-radius: 50%;
}

.responses_description .title {
  font: 1.4rem/2.4rem "Montserrat-Bold";
  margin-bottom: 20px;
}

.responses_description .paragraph {
  font: 1.4rem/2.4rem "Montserrat-Light";
  max-height: 220px;
  font-style: italic;
}
