@font-face {
	font-family: "myfont";
	src: url('../fonts/iconsfont/myfont.eot');
	src: url('../fonts/iconsfont/myfont.eot?#iefix') format('eot'),
		url('../fonts/iconsfont/myfont.woff2') format('woff2'),
		url('../fonts/iconsfont/myfont.woff') format('woff'),
		url('../fonts/iconsfont/myfont.ttf') format('truetype'),
		url('../fonts/iconsfont/myfont.svg#myfont') format('svg');
}

@mixin icon-styles {
	font-family: "myfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == arrow-down {
		$char: "\E001";
	}
	@if $filename == arrow-right-thin {
		$char: "\E002";
	}
	@if $filename == arrow-right {
		$char: "\E003";
	}
	@if $filename == close {
		$char: "\E004";
	}
	@if $filename == info {
		$char: "\E005";
	}
	@if $filename == search {
		$char: "\E006";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-arrow-down {
	@include icon(arrow-down);
}
.icon-arrow-right-thin {
	@include icon(arrow-right-thin);
}
.icon-arrow-right {
	@include icon(arrow-right);
}
.icon-close {
	@include icon(close);
}
.icon-info {
	@include icon(info);
}
.icon-search {
	@include icon(search);
}