// SIZE
$base_font_size: 10px;
// WIDTH
$site_width: 1160px;
$main_horizontal_padding: 10px;
// COLOR
$white_1: #fff;
$black_1: #000;

$blue_1: #00020E;
$blue_2: #2B64F5;
$blue_3: #2657D8;
$blue_4: linear-gradient(180deg, rgba(0, 15, 105, 0.9) 4.85%, rgba(0, 14, 95, 0.9) 88.79%);

$gray_1: #ABAEBD;
$gray_2: #5D5F6B;
$gray_3: #2E3141;
$gray_4: #F8F8F8;
$gray_5: #EDEDED;
$gray_6: linear-gradient(180deg, rgba(0, 2, 14, 0.54) 4.85%, rgba(0, 2, 14, 0.95) 88.79%);
$gray_7: #212432;
$gray_7: #5C5C5C;
