// SCREEN SIZES
$mobile-portrait: 320px;
$mobile-landscape: 480px;
$tablet-portrait: 768px;
$tablet-plus: 992px;
$tablet-landscape: 1024px;
// SIZE
$base_font_size: 10px;
// WIDTH
$site_width: 1160px;
$main_horizontal_padding: 10px;
// COLOR
$white_1: #fff;

$black_1: #000;
$black_2: #01020A;
$black_3: rgba(0, 0, 0, 0.75);
$black_4: rgba(0, 0, 0, 0.25);

$blue_1: #00020E;
$blue_2: #2B64F5;
$blue_3: #2657D8;
$blue_4: linear-gradient(180deg, rgba(0, 15, 105, 0.9) 4.85%, rgba(0, 14, 95, 0.9) 88.79%);
$blue_5: #13172F;
$blue_6: #161B36;
$blue_7: #0F1227;
$blue_8: #1F243F;
$blue_9: #2D3354;
$blue_10: rgba(43, 100, 245, 0.7);
$blue_11: rgba(0, 2, 14, 0.85);

$gray_1: #ABAEBD;
$gray_2: #5D5F6B;
$gray_3: #2E3141;
$gray_4: #F8F8F8;
$gray_5: #EDEDED;
$gray_6: linear-gradient(180deg, rgba(0, 2, 14, 0.54) 4.85%, rgba(0, 2, 14, 0.95) 88.79%);
$gray_7: #212432;
$gray_8: #5C5C5C;
$gray_9: #3F4252;
$gray_10: #212121;
$gray_11: #828282;
$gray_12: #C9C9C9;
$gray_13: #949494;
$gray_14: #E1E1E1;

$purple_1: #AC54E2;

$green_1: #2BDE28;

$red_1: #E71515;
$red_2: rgba(231, 21, 21, 0.7);

$orange_1: #F4890A;
$orange_2: rgba(231, 125, 21, 0.7);