.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $blue_1;
    z-index: 99;

    &_list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 4.7vw;
        max-width: $site_width;
        margin: auto;
        padding: 0 $main_horizontal_padding;
    }

    &_item {
        text-align: center;
    }

    &_link {
        @include font(14px, 18px, 'Montserrat-Regular');

        position: relative;
        display: flex;
        align-items: center;
        color: $gray_1;

        &_svg {
            fill: $white_1;
        }

        &.menu {

            .header_link_svg {
                transition: 0.2s;
                
                &_wrap {
                    width: 25px;
                    margin-right: 10px;
                }
            }

            &:hover .header_link_svg {
                transform: rotate(90deg);
            }
        }

        &.service {
            padding-right: 15px;

            .header_link_svg {
                height: 100%;
                fill: $gray_1;

                &_wrap {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    width: 10px;
                    height: 10px;
                }
            }
        }

        &.logo {

            .header_link_svg_wrap {
                width: 180px;
            }
        }

        &.call {
            border-bottom: 1px solid $gray_1;

            &:hover {
                color: $blue_2;
                border-bottom: 1px solid $blue_2;
            }
        }
    }

    .search {

        &_label {
            position: relative;
            padding-left: 15px;

            svg {
                position: absolute;
                top: 0;
                left: 0;
                width: 10px;
                height: 100%;
                fill: $gray_1;
            }
        }

        &_input {
            @include font(14px, 18px, 'Montserrat-Regular');

            width: 100px;
            border: 0;
            background-color: $blue_1;
            color: $gray_1;
        }
    }

    .select {

        &_wrap {
            @include font(14px, 18px, 'Montserrat-Regular');

            width: 70px;
            color: $gray_1;
        }

        &-selected {
            padding: 7px;
            padding-right: 30px;
            text-transform: uppercase;

            &::before {
                content: "";
                // background-image: url(../img/general/header/ua-flag.png);
                background-size: cover;
                position: absolute;
                right: 7px;
                top: 50%;
                transform: translateY(-50%);
                width: 16px;
                height: 10px;
            }
        }

        &-items {
            padding: 0;
            text-transform: uppercase;

            div {
                position: relative;
                padding: 7px;
                padding-right: 30px;

                &:first-child::before {
                    content: "";
                    background-image: url(../img/general/header/ua-flag.png);
                    background-size: cover;
                    position: absolute;
                    right: 7px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 16px;
                    height: 10px;
                }

                &:nth-child(2)::before {
                    content: "";
                    background-image: url(../img/general/header/uk-flag.png);
                    background-size: cover;
                    position: absolute;
                    right: 7px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 16px;
                    height: 10px;
                }

                &:last-child::before {
                    content: "";
                    background-image: url(../img/general/header/rus-flag.png);
                    background-size: cover;
                    position: absolute;
                    right: 7px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 16px;
                    height: 10px;
                }
            }
        }
    }
}