.header {
    @include font(14px, 18px, 'Montserrat-Regular');

    position: sticky;
    top: 0;
    background-color: $blue_1;
    color: $gray_1;
    z-index: 99;

    .clicker {
        display: none;
    }

    svg {
        fill: $white_1;
    }

    &_list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 4.69vw;
        max-width: $site_width;
        margin: auto;
        padding: 0 $main_horizontal_padding;
    }

    &_item {
        text-align: center;
    }

    .menu_button {
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover svg {
            transform: rotate(90deg);
        }

        svg {
            width: 25px;
            margin-right: 10px;
            transition: 1s;
        }

        &_list {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .services_button {
        position: relative;
        padding-right: 15px;
        cursor: pointer;

        svg {
            position: absolute;
            top: 50%;
            right: 0;
            width: 10px;
            height: 100%;
            transform: translateY(-50%);
            fill: $gray_1;
        }

        &_list {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .phone_number {
        color: $gray_1;

        &:hover {
            color: $blue_2;
            text-decoration: underline;
        }
    }

    .logo {

        svg {
            display: block;
            width: 100%;
        }
    }

    .call {
        cursor: pointer;

        &:hover {
            color: $blue_2;
            text-decoration: underline;
        }

        &_popup {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .search {

        &_label {
            position: relative;
            padding-left: 15px;

            svg {
                position: absolute;
                top: 0;
                left: 0;
                width: 10px;
                height: 100%;
                fill: $gray_1;
            }
        }

        &_input {
            @include font(14px, 18px, 'Montserrat-Regular');

            width: 100px;
            border: 0;
            background-color: $blue_1;
            color: $gray_1;
        }
    }

    .select {

        &_wrap {
            @include font(14px, 18px, 'Montserrat-Regular');
        }

        &-selected {
            padding: 7px;
            padding-right: 30px;
            text-transform: uppercase;

            &::before {
                content: "";
                // background-image: url(../img/main/ua-flag.png);
                background-size: cover;
                position: absolute;
                right: 7px;
                top: 50%;
                transform: translateY(-50%);
                width: 16px;
                height: 10px;
            }
        }

        &-items {
            padding: 0;
            text-transform: uppercase;

            div {
                position: relative;
                padding: 7px;
                padding-right: 30px;

                &:first-child::before {
                    content: "";
                    background-image: url(../img/main/ua-flag.png);
                    background-size: cover;
                    position: absolute;
                    right: 7px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 16px;
                    height: 10px;
                }

                &:nth-child(2)::before {
                    content: "";
                    background-image: url(../img/main/uk-flag.png);
                    background-size: cover;
                    position: absolute;
                    right: 7px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 16px;
                    height: 10px;
                }

                &:last-child::before {
                    content: "";
                    background-image: url(../img/main/rus-flag.png);
                    background-size: cover;
                    position: absolute;
                    right: 7px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 16px;
                    height: 10px;
                }
            }
        }
    }
}