.menu_checkbox {
    display: none;

    &:checked ~ .menu {
        left: 0;
    }
}

.menu {
    position: fixed;
    left: -100%;
    top: 0;
    height: 100vh;
    width: 28%;
    padding: 60px;
    background-color: $blue_1;
    z-index: 100;
    transition: 0.5s;

    &_inner {
        position: relative;
    }

    &_close_label {
        @include icon(close);

        position: absolute;
        top: 60px;
        right: 40px;
        color: $white_1;

        &::before {
            display: block;
            font-size: 20px;
        }
    }

    &_close_svg {
        fill: $white_1;
    }

    &_list {
        position: relative;
        padding-bottom: 1px;
        margin-top: 30px;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 30px;
            border-bottom: 1px solid $gray_2;
        }

        &:first-child {
            margin-top: 0;
        }

        &:last-child {

            &::before {
                border-bottom: 0;
            }
        }
    }

    &_item {
        margin-bottom: 30px;
    }

    &_link {
        @include font(16px, 20px, 'Montserrat-Regular');

        color: $white_1;
    }
}

// whidth $tablet = 768px;
@media only screen and (max-width: $tablet) {

    .menu {
        width: 50%;

        &_close_label {
            top: 35px;
            right: 35px;

            &::before {
                font-size: 2.5rem;
            }
        }
    }
}

@media only screen and (max-width: $tablet) and (orientation: landscape) {

    .menu {
        width: 50%;

        &_close_label {
            top: 35px;
            right: 35px;

            &::before {
                font-size: 2.5rem;
            }
        }
    }
}