.consultation_checkbox {
    display: none;

    &:checked ~ .popup_consultation {
        display: block;
    }
}

.popup_consultation {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    height: 100vh;
    background-color: $black_3;
    z-index: 100;

    &_inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 80px 50px 30px;
        background-color: $white_1;
        text-align: center;
    }

    &_label {
        position: absolute;
        right: 0;
        top: 0;
        width: 38px;
        padding: 8px;
        background-color: $gray_12;
        transition: 0.2s;

        &:hover {
            background-color: $gray_2;
        }
    }

    &_icon {
        color: $white_1;
        font-size: 24px;
        transition: 0.2s;

        &::before {
            display: block;
        }
    }

    &_title {
        @include font(22px, 22px, 'Montserrat-Bold');

        max-width: 440px;
        margin: 0 auto 50px;
    }

    &_field {
        @include font(14px, 34px, 'Montserrat-Regular');

        display: inline-block;
        margin-bottom: 25px;
        width: 100%;
        max-width: 340px;
        padding: 0;
        border: 0;
        border-bottom: 1px solid $gray_12;
        color: $black_1;
        text-align: center;

        &::placeholder {
            color: $black_1;
        }

        &:focus::placeholder {
            color: transparent;
        }
    }

    &_button {
        margin: 25px 0 50px;

        &:hover {
            background-color: $blue_1;
            color: $white_1;
        }
    }

    &_info {
        @include font(12px, 12px, 'Montserrat-Regular');

        color: $gray_12;
    }
}


// 0 - 479px
@include respond-to(mobile_small) {

    .popup_consultation {

        &_inner {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 80px 20px 20px;
        }

        &_title {
            font-size: 20px;
            line-height: 1;
        }

        &_input {
            font-size: 12px;
            line-height: 2;
        }

        &_button {
            font-size: 12px;
            padding: 18px 25px;
            margin: 150px 0 0;
        }

        &_info {
            font-size: 10px;
            line-height: 1;
        }
    }
}