.js_description_open {

    .faq__content_description {

        &_title {
            color: $blue_3;

            &::after {
                content: '-';
            }
        }
    }
}

.faq {
    background-color: $gray_4;

    &__inner {
        position: relative;
        max-width: $site_width;
        padding: 0 $main_horizontal_padding;
        margin: auto;
    }

    &__top {
        position: relative;
        margin-bottom: 5.7%;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 22.8%;
            width: 200%;
            padding-bottom: 17.54%;
            background-color: $gray_5;
        }

        &::after {
            content: "";
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            padding-bottom: 17.54%;
        }
    }

    &__title {

        @include font(40px, 50px, 'PlayfairDisplay-Bold');

        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        &__first_letter {

            &::first-letter {
                color: $blue_3;
            }
        }
    }

    &__content {
        padding-bottom: 6.58%;

        &_section {
            display: flex;
            justify-content: space-between;
            padding-bottom: 4.82%;

            &:last-child {
                padding-bottom: 0;
            }
        }

        &_title {
            @include font(18px, 26px, 'Montserrat-Bold');

            width: 25%;
            color: $gray_10;
        }

        &_description {
            width: calc(75% - 15px);

            &_item {
                border-bottom: 1px solid $gray_1;
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &_top {
                margin-bottom: 25px;
            }

            &_title {
                @include font(14px, 24px, 'Montserrat-Bold');

                display: flex;
                justify-content: space-between;
                color: $gray_10;
                cursor: pointer;

                &::after {
                    content: '+';
                    width: 12px;
                    font-size: 20px;
                    text-align: center;
                }
            }

            &_bottom {
                height: 0;
                overflow: hidden;
                transition: 0.2s;
            }

            &_paragraph {
                @include font(14px, 24px, 'Montserrat-Regular');

                padding-bottom: 25px;
                color: $gray_10;
            }
        }
    }
}


// 0 - 767px
@include respond-to(mobile) {

    .faq {

        &__inner {
            padding: 0;
        }

        &__top {
            display: flex;
            align-items: center;
            min-height: 100px;
            padding: 25px 10px;
            margin-bottom: 20px;
            background-color: $gray_5;

            &::before {
                display: none;
            }

            &::after {
                display: none;
            }
        }

        &__title {
            position: relative;
            transform: none;
            line-height: 24px;
        }

        &__content {
            padding: 0 10px 40px;

            &_section {
                flex-direction: column;
                padding-bottom: 40px;
            }

            &_title {
                width: 100%;
                margin-bottom: 25px;
                font-size: 14px;
                line-height: 26px;
            }

            &_description {
                width: 100%;
                font-size: 14px;
                line-height: 26px;

                &_top {
                    margin-bottom: 10px;
                }

                &_title {
                    font-size: 11px;
                    line-height: 24px;
                }

                &_paragraph {
                    font-size: 11px;
                    line-height: 20px;
                }
            }
        }
    }
}