.commissioners_service {
    background-color: $gray_4;

    &__head {
        @include background(url("../img/commissioners_service/head_bg.jpg"));
        padding: 4.43% 0 6%;

        &_inner {
            width: 100%;
            max-width: $site_width;
            padding: 0 $main_horizontal_padding;
            margin: 0 auto;
        }

        &_title {
            @include font(36px, 42px, 'PlayfairDisplay-Bold');

            margin-bottom: 3.5%;
            color: $white_1;
        }

        &_content {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        &_description {
            @include font(14px, 26px, 'Montserrat-Light');

            max-width: 65.36%;
            color: $white_1;
        }
    }

    &__content {
        overflow: hidden;
    }

    &__section {
        position: relative;
        width: 100%;
        max-width: $site_width;
        padding: 0 $main_horizontal_padding 80px;
        margin: 0 auto;

        &_title {
            @include font(40px, 46px, 'PlayfairDisplay-Bold');

            position: relative;
            display: flex;
            align-items: center;
            min-height: 200px;
            margin-bottom: 4.82%;
            color: $black_1;
            z-index: 1;

            &::before {
                content: '';
                position: absolute;
                height: 100%;
                width: 1000%;
                top: 0;
                z-index: -1;
            }
        }

        &_subtitle {
            @include font(40px, 46px, 'PlayfairDisplay-Bold');

            display: flex;
            align-items: center;
            min-height: 100px;
            margin: 6.14% 0;
        }
        
        &--gray {

            &:nth-child(odd) {
                
                .commissioners_service__section_title {
                    padding-right: 47%;

                    &::before {
                        right: 43%;
                        background-color: $gray_5;
                    }
                }

                .commissioners_service__section_photo {
                    position: absolute;
                    top: 0;
                    left: 57%;
                    z-index: 1;
                }
            }

            &:nth-child(even) {

                .commissioners_service__section_title {
                    padding-left: 47%;

                    &::before {
                        left: 43%;
                        background-color: $gray_5;
                    }
                }

                .commissioners_service__section_photo {
                    position: absolute;
                    top: 0;
                    right: 57%;
                    z-index: 1;
                }
            }
        }

        &--white {

            &:nth-child(odd) {

                .commissioners_service__section_title {
                    justify-content: flex-end;
                    padding-right: 26.3%;

                    &::before {
                        right: 17.54%;
                        background-color: $white_1;
                    }
                }

                .commissioners_service__section_photo {
                    position: absolute;
                    top: 0;
                    left: 81.5%;
                    z-index: 1;
                }
            }

            &:nth-child(even) {

                .commissioners_service__section_title {
                    padding-left: 26.3%;

                    &::before {
                        left: 17.54%;
                        background-color: $white_1;
                    }
                }

                .commissioners_service__section_photo {
                    position: absolute;
                    top: 0;
                    right: 81.5%;
                    z-index: 1;
                }
            }
        }

        &_description {

            &_item {
                margin-bottom: 57%;
                margin-bottom: 4.39%;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &_paragraph {
                @include font(14px, 26px, 'Montserrat-Regular');

                color: $gray_10;

                &--align-left {
                    width: 57%;
                    padding-right: 8.3%;
                }

                &--align-right {
                    width: 57%;
                    margin-left: auto;
                }

                &--bordbott {
                    padding-bottom: 5.26%;
                    border-bottom: 1px solid $gray_12;
                    margin-bottom: 7%;
                }

                &--width-s {
                    width: 45%;
                }
            }
        }

        &_photo {
            max-height: 800px;
            overflow: hidden;

            &--position {
                left: auto !important;
                right: 57.9%;
                top: 200px !important;
            }
        }

        &_img {
            max-width: unset;
        }

        &_law {
            display: flex;
            margin-bottom: 8.33%;

            &_title {
                @include font(14px, 26px, 'Montserrat-Bold');
                @include background(url('../img/commissioners_service/law-quote/balance.png'), no-repeat, calc(100% + 55px), 50%, auto, $blue_3);

                display: flex;
                align-items: center;
                width: 23.25%;
                padding: 3.07%;
                color: $white_1;
            }

            &_description {
                @include font(14px, 26px, 'Montserrat-Regular');

                display: flex;
                align-items: center;
                width: 76.75%;
                padding: 4.39%;
                color: $gray_10;
                background-color: $white_1;
            }
        }

        &_decree {
            display: flex;
            justify-content: space-between;

            &_title {
                @include font(18px, 28px, 'Montserrat-Bold');
                @include background(url('../img/commissioners_service/decree/decree_title_bg.png'), no-repeat, 20%, 10%, auto, $white_1);

                position: relative;
                width: 31.58%;
                padding: 8.77% 3.51% 3.51% 5.26%;
                border-left: 4px solid $blue_3;
                color: $black_1;

                &::before {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 0;
                    top: 50%;
                    left: 100%;
                    transform: translateY(-50%);
                    border: 30px solid transparent;
                    border-left-color: $white_1;
                    border-right: 0;
                }
            }

            &_description {
                width: 57.02%;

                &_title {
                    @include font(14px, 26px, 'Montserrat-Bold');

                    margin-bottom: 6.92%;
                    color: $black_1;
                }

                &_list {
                    display: flex;
                    justify-content: space-between;
                }

                &_item {
                    @include font(14px, 26px, 'Montserrat-Regular');

                    width: 25.39%;
                    color: $gray_10;
                }
            }
        }

        &_note {

            &--bordbott {
                padding-bottom: 5.7%;
                border-bottom: 1px solid $gray_12;
                margin-bottom: 5.7%;
            }

            &_title {
                @include font(20px, 26px, 'Montserrat-Bold');

                width: 55%;
                margin-bottom: 6.58%;
                color: $gray_10;
            }

            &_subtitle {
                @include font(14px, 26px, 'Montserrat-Bold');

                min-height: 52px;
                margin-bottom: 6.58%;
                color: $gray_10;
            }

            &_list {
                display: flex;
                justify-content: space-between;
            }

            &_item {
                width: 20%;

                &--col5 {
                    width: 17.1%;
                }
            }

            &_list_1 {
                counter-reset: order-item;
                display: flex;
                padding-left: 0;
                margin: 0;
                min-height: 250px;
            }

            &_item_1 {
                @include font(14px, 26px, 'Montserrat-Regular');

                counter-increment: order-item;
                color: $gray_10;
                text-align: center;
                max-width: 250px;

                &:nth-child(even) {
                    align-self: flex-end;
                }

                &::before {
                    @include font(22px, 26px, 'Montserrat-Bold');

                    content: counter(order-item);
                    display: block;
                    width: 60px;
                    margin: 0 auto 20px;
                    line-height: 56px;
                    border: 2px solid $blue_3;
                    border-radius: 50%;
                }
            }

            &_image {
                width: 50px;
                height: 50px;
                margin-bottom: 35px;
            }

            &_description {
                @include font(14px, 26px, 'Montserrat-Regular');

                color: $gray_10;

                &_list {
                    margin-top: 15px;
                }

                &_item {
                    @include font(14px, 26px, 'Montserrat-Regular');

                    color: $gray_10;
                }
            }
        }

        &_certificate {
            display: grid;
            grid-template-columns: 1fr 1.65fr;
            grid-gap: 50px 100px;
            width: 73.7%;
            margin-left: auto;

            &_paragraph {
                @include font(14px, 26px, 'Montserrat-Regular');

                color: $gray_10;

                &--bold {
                    @include font(20px, 26px, 'Montserrat-Bold');
                }
            }

            &_span {

                &--blue {
                    color: $blue_3;
                }
            }

            &_photo {
                grid-row: 1 / 3;
            }
        }

        &_learning {

            &_paragraph {
                @include font(14px, 26px, 'Montserrat-Regular');

                width: 48.68%;
                padding-bottom: 180px;
                border-bottom: 1px solid $gray_12;
                margin: 196px 0 8.77% auto;
                color: $gray_10;

                &--bold {
                    @include font(20px, 26px, 'Montserrat-Bold');
                }
            }

            &_span {

                &--blue {
                    color: $blue_3;
                }
            }
        }

        &_commissioner {

            &_title {
                @include font(20px, 26px, 'Montserrat-Bold');

                margin-bottom: 7%;
                color: $gray_10;
            }

            &_list {
                display: flex;
                justify-content: space-between;
                margin-bottom: 6.14%;
            }

            &_item {
                @include font(14px, 26px, 'Montserrat-Regular');

                width: 22.81%;
                color: $gray_10;

                &:last-child {
                    width: 45.62%;
                }

                &::before {
                    content: '';
                    display: block;
                    width: 26px;
                    height: 3px;
                    margin-bottom: 12px;
                    background-color: $blue_3;
                }
            }
        }

        &_info {

            &_description {
                @include font(14px, 26px, 'Montserrat-Regular');
                @include background(url("../img/svg/commissioners_service/info/info.svg"), no-repeat, 4.39%, center, 8.8%, $white_1);

                padding: 4.39% 8.77% 4.39% 17.54%;
                border-left: 4px solid $blue_3;
                margin-bottom: 5.26%;
                color: $gray_10;

                &--margbott {
                    margin-bottom: 0;
                }
            }
        }

        &_cooperation {
            margin-bottom: 20px;

            &_title {
                @include font(20px, 26px, 'Montserrat-Bold');

                margin-bottom: 5.7%;
                color: $gray_10;
            }

            &_list {
                display: flex;
                justify-content: space-between;
                counter-reset: order-item;
            }

            &_item {
                position: relative;
                width: 24.12%;
                counter-increment: order-item;
                padding-left: 5.7%;
                z-index: 1;

                &::before {
                    content: '';
                    display: block;
                    width: 26px;
                    height: 3px;
                    background-color: $blue_3;
                }

                &::after {
                    @include font(100px, 70px, 'Montserrat-Bold');

                    content: counter(order-item);
                    position: absolute;
                    left: 0;
                    top: 0;
                    color: $gray_5;
                    z-index: -1;
                }

                &--width-m {
                    width: 67.98%;
                }

                &_title {
                    @include font(14px, 26px, 'Montserrat-Bold');

                    margin: 12px 0 25px;
                    color: $gray_10;
                }

                &_description {
                    @include font(14px, 26px, 'Montserrat-Regular');

                    color: $gray_10;
                }
            }
        }
    }
}


// 0 - 1023px
@include respond-to(tablet) {

    .commissioners_service {

        &__section {
            padding: 0 $main_horizontal_padding 7.8%;

            &_description {

                &_paragraph {

                    &--align-left {
                        width: 100%;
                        padding-right: 0;
                    }

                    &--align-right {
                        width: 100%; 
                    }

                    &--bordbott {
                        padding-bottom: 4%;
                        margin-bottom: 4%;
                    }
                }
            }

            &_photo {
                height: 200px;
            }

            &_img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &_note {

                &_title {
                    width: 100%;
                }
            }

            &_certificate {
                width: 100%;
                grid-gap: 20px 50px;

                &_paragraph {
                    line-height: 20px;

                    &--bold {
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
            }

            &_learning {

                &_paragraph {
                    padding-bottom: 80px;
                    margin: 51px 0 8.77% auto;
                }
            }

            &_cooperation {

                &_item {
                    padding-left: 6.5%;
                }
            }
        }
    }
}

// 0 - 767px
@include respond-to(mobile) {

    .commissioners_service {

        &__section {
            padding: 0 $main_horizontal_padding 50px;
        }

        &__head {
            padding: 40px 0 70px;

            &_title {
                margin-bottom: 25px;
                font-size: 28px;
                line-height: 1;
            }

            &_content {
                flex-direction: column;
            }

            &_description {
                max-width: 100%;
                margin-bottom: 40px;
                font-size: 10px;
                line-height: 18px;
            }

            &_link {
                font-size: 12px;
                line-height: 60px;
            }
        }

        &__content {

            &_inner {
                width: 100%;
                max-width: $site_width;
                padding: 4.17% $main_horizontal_padding;
                margin: 0 auto;
            }
        }

        &__section {

            &_title {
                min-height: 100px;
                margin-bottom: 25px;
                font-size: 24px;
                line-height: 1;
            }

            &_description {

                &_item {
                    margin-bottom: 20px;
                }

                &_paragraph {
                    font-size: 11px;
                    line-height: 20px;

                    &--bordbott {
                        padding-bottom: 0;
                        border-bottom: 0;
                        margin-bottom: 45px;
                    }
                }
            }

            &_photo {
                left: unset;
                right: 0;
                height: 100px;

                &--position {
                    left: 81.5% !important;
                    top: 0 !important;
                }
            }

            &_img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &_note {

                &--bordtop {
                padding-top: 35px;
                border-top: 1px solid $gray_12;
                margin-top: 45px;
                }

                &--bordbott {
                    padding-bottom: 0;
                    border-bottom: 0;
                    margin-bottom: 0;
                }

                &_title {
                    font-size: 16px;
                    line-height: 20px;
                }

                &_list {

                    &--col5 {
                        overflow-y: hidden;
                    }
                }

                &_item {
                    width: 20%;

                    &--col5 {
                        width: 70%;
                        flex-shrink: 0;
                        margin-right: 20px;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }

                &_list_1 {
                    overflow-y: hidden;
                }

                &_item_1 {
                    max-width: 45%;
                    flex-shrink: 0;
                }
            }

            &_law {
                flex-direction: column;
                margin-bottom: 30px;

                &_title {
                    width: 100%;
                    min-height: 90px;
                    padding: 20px 15px;
                    font-size: 14px;
                    line-height: 26px;
                }

                &_description {
                    width: 100%;
                    padding: 15px;
                    font-size: 11px;
                    line-height: 20px;
                }
            }

            &_decree {
                flex-direction: column;

                &_title {
                    width: 100%;
                    padding: 100px 15px 35px;
                    border-left: 0;
                    border-top: 4px solid $blue_3;
                    margin-bottom: 40px;
                    background-position: 15px 30px;
                    font-size: 16px;
                    line-height: 26px;

                    &::before {
                        top: 100%;
                        left: 50%;
                        transform: translateY(-25%) translateX(-50%) rotate(90deg);
                    }
                }

                &_description {
                    width: 100%;

                    &_title {
                        margin-bottom: 35px;
                        font-size: 12px;
                        line-height: 20px;
                    }

                    &_item {
                        width: 30%;
                        font-size: 11px;
                        line-height: 20px;
                    }
                }
            }

            &_certificate {
                grid-gap: 20px;
            }

            &_learning {

                &_paragraph {
                    width: 100%;
                    padding-bottom: 30px;
                    margin: 0 0 30px 0;
                    font-size: 16px;
                    line-height: 20px;
                }
            }

            &_commissioner {

                &_title {
                    font-size: 16px;
                    line-height: 20px;
                }

                &_list {
                    flex-direction: column;
                }

                &_item {
                    width: 100%;
                    margin-bottom: 45px;

                    &:last-child {
                        width: 100%;
                        margin-bottom: 0;
                    }
                }
            }

            &_cooperation {

                &_item {
                    width: 30%;

                    &::after {
                        font-size: 50px;
                        line-height: 40px;
                    }

                    &--width-m {
                        width: 70%;
                    }
                }
            }
        }
    }
}


// 0 - 479px
@include respond-to(mobile_small) {

    .commissioners_service {

        &__section {

            &--gray {

                &:nth-child(odd) {

                    .commissioners_service__section_title {
                        padding-left: 0;
                        padding-right: 100px;

                        &::before {
                            left: -25%;
                        }
                    }

                    .commissioners_service__section_photo {
                        left: unset;
                        right: 0;
                        width: 100px;
                    }
                }

                &:nth-child(even) {

                    .commissioners_service__section_title {
                        padding-left: 0;
                        padding-right: 100px;

                        &::before {
                            left: -25%;
                        }
                    }

                    .commissioners_service__section_photo {
                        left: unset;
                        right: 0;
                        width: 100px;
                    }
                }
            }

            &--white {

                &:nth-child(odd) {

                    .commissioners_service__section_title {
                        justify-content: flex-start;
                        padding-right: 0;
                        margin-bottom: 125px;

                        &::before {
                            left: -25%;
                        }
                    }

                    .commissioners_service__section_photo {
                        left: 0;
                        right: 0;
                        top: 100px;
                    }
                }

                &:nth-child(even) {

                    .commissioners_service__section_title {
                        padding-left: 0;
                        margin-bottom: 125px;

                        &::before {
                            left: -25%;
                        }
                    }

                    .commissioners_service__section_photo {
                        left: 0;
                        right: 0;
                        top: 100px;
                    }
                }
            }

            &_title {

                &--margbott {
                    margin-bottom: 25px !important;
                }
            }

            &_photo {

                &--position {
                    left: 0 !important;
                    top: 100px !important;
                }
            }

            &_description {

                &_paragraph {
                    margin-bottom: 20px;
                    font-size: 11px;
                    line-height: 20px;
                }

                &_list {
                    display: flex;
                    overflow-y: hidden;
                }

                &_item {
                    margin-bottom: 0;
                    width: 83.33%;
                    flex-shrink: 0;
                    padding-right: 15px;

                    &:last-child {
                        padding-right: 0;
                    }
                }
            }

            &_decree {

                &_description {

                    &_list {
                        display: flex;
                        overflow-y: hidden;
                    }

                    &_item {
                        margin-bottom: 0;
                        width: 83.33%;
                        flex-shrink: 0;
                        padding-right: 15px;

                        &::before {
                            content: '';
                            display: block;
                            width: 10px;
                            height: 2px;
                            margin-bottom: 5px;
                            background-color: $blue_3;
                        }

                        &:last-child {
                            padding-right: 0;
                        }
                    }
                }
            }

            &_note {
                
                &_title {
                    font-size: 12px;
                }
                
                &_subtitle {
                    font-size: 12px;
                    line-height: 20px;
                    min-height: 40px;
                }

                &_description {
                    font-size: 11px;
                    line-height: 20px;
                }

                &_list {
                    overflow-y: hidden;
                }

                &_item {
                    flex-shrink: 0;
                    width: 35%;
                    margin-right: 30px;

                    &:last-child {
                        margin-right: 0;
                    }

                    &--col5 {
                        width: 70%;
                        flex-shrink: 0;
                        margin-right: 20px;
                    }
                }

                &_item_1 {
                    max-width: 40%;
                    font-size: 11px;
                    line-height: 20px;
                }
            }

            &_certificate {

                &_paragraph {
                    font-size: 11px;
                    line-height: 20px;

                    &:last-child {
                        grid-column: 1 / 3;
                    }

                    &--bold {
                        font-size: 12px;
                        line-height: 20px;
                    }
                }

                &_photo {
                    grid-row: auto;
                }
            }

            &_learning {

                &_paragraph {
                    font-size: 12px;
                    line-height: 20px;
                }
            }

            &_commissioner {

                &_title {
                    font-size: 12px;
                    line-height: 20px;
                }

                &_item {
                    font-size: 11px;
                    line-height: 20px;

                    &::before {
                        width: 10px;
                        height: 2px;
                        margin-bottom: 5px;
                    }
                }
            }

            &_info {

                &_description {
                    padding: 100px 15px 30px;
                    border-left: 0;
                    border-top: 4px solid $blue_3;
                    margin-bottom: 20px;
                    background-position: 15px 30px;
                    background-size: 40px;
                }
            }

            &_cooperation {

                &_title {
                    font-size: 12px;
                    line-height: 20px;
                }

                &_list {
                    flex-direction: column;
                }

                &_item {
                    width: 100%;
                    padding-left: 35px;
                    margin-bottom: 35px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &::after {
                        font-size: 100px;
                        line-height: 70px;
                    }

                    &_title {
                        font-size: 11px;
                        line-height: 20px;
                    }

                    &_description {
                        font-size: 11px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}