.search_request {
    background-color: $gray_4;

    &__head {
        width: 100%;
        background-color: $gray_5;

        &_inner {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            max-width: $site_width;
            min-height: 200px;
            padding: 20px $main_horizontal_padding;
            margin: 0 auto;
        }

        &_title {
            @include font(22px, 26px, 'Montserrat-Regular');

            color: $gray_11;
        }
        
        &_request {
            color: $black_2;
        }
    }

    &__content {
        max-width: $site_width;
        padding: 0 $main_horizontal_padding;
        margin: 0 auto;

        &_list {
            padding: 0;
            margin: 0;
        }

        &_item {
            padding: 4.39% 0;
            border-bottom: 1px solid $gray_5;
            counter-increment: request-order-number;

            &:last-child {
                border: 0;
            }
        }

        &_link {
            display: block;
        }

        &_title {
            @include font(18px, 26px, 'Montserrat-Bold');

            margin-bottom: 10px;
            color: $gray_10;

            &::before {
                content: counter(request-order-number) '.';
            }
        }

        &_subtitle {
            @include font(14px, 24px, 'Montserrat-Regular');

            margin-bottom: 15px;
            color: $gray_13;
        }

        &_description {
            @include font(14px, 24px, 'Montserrat-Regular');

            color: $gray_10;
        }
    }

    &__pagination {
        max-width: $site_width;
        padding: 0 $main_horizontal_padding;
        margin: 0 auto;

        &_list {
            display: flex;
            justify-content: center;
            padding: 7.45% 0;
        }

        &_item {
            margin-right: 25px;
        }

        &_link {
            @include font(14px, 24px, 'Montserrat-Bold');

            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            background-color: $white_1;
            color: $black_1;
            border-radius: 50%;

            &:hover {
                background-color: $gray_4;
                border: 1px solid $blue_3;
            }

            &.active {
                background-color: $blue_3;
                color: $white_1;
            }
        }

        &_link_more {
            @include icon(arrow-down, after);

            display: none;
            padding: 0 10px;
            text-align: center;
            color: $gray_1;

            &::after {
                font-size: 0.7em;
            }
        }
    }
}


// 0 - 767px
@include respond-to(mobile) {

    .search_request {

        &__head {

            &_inner {
                min-height: 100px;
            }
        }

        &__content {

            &_item {
                padding: 25px 0;

                &:last-child {
                    border-bottom: 1px solid $gray_5;
                }
            }
        }

        &__pagination {
            padding: 0 10px;

            &_list {
                display: none;
            }

            &_link_more {
                display: block;
                padding: 20px 0;
                font-size: 10px;
                line-height: 1;
                cursor: pointer;
            }
        }
    }
}