.advantages_section {
    overflow: hidden;

    .header {
        @include background(url('../img/main/advantages_header.png'));

        position: relative;
        height: 18.49vw;
        background-color: $black_1;

        svg {
            width: 58%;
            position: absolute;
            top: 50%;
            left: 30.7%;
            fill: $gray_7;
        }
    }

    .rectangle_black {
        position: absolute;
        top: 0;
        left: 0;
        width: 34%;
        height: 100%;
        background-color: $black_1;
    }

    .description {
        @include background(url('../img/main/advantages_bg.png'));

        position: relative;
        background-size: 75% 120%;
        background-color: $gray_4;

        .rectangle_white {
            position: absolute;
            top: 0;
            left: 35%;
            width: 100%;
            height: 10.42vw;
            transform: translateY(-45%);
            background-color: $white_1;
        }

        &_inner {
            position: relative;
            max-width: $site_width;
            margin: auto;
            padding: 3.64% 0;

            .advantages {

                &_title {
                    @include font-fluid(40px, 45px, 'PlayfairDisplay-Bold');
                    
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, -55%);
                    color: $black_1;
                    
                    &::first-letter {
                        color: $blue_3;
                    }
                }

                &_list {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    padding: 11.45% $main_horizontal_padding 5.21%;
                }

                &_item {
                    width: 25%;
                    margin-bottom: 10.53%;

                    &::before {
                        content: "";
                        position: relative;
                        top: -10%;
                        display: block;
                        width: 10%;
                        border-top: 2px solid $blue_3;
                    }
                    
                    &_title {
                        @include font-fluid(16px, 26px, 'Montserrat-Bold');

                        color: $black_1;
                        margin-bottom: 7%;

                        &_blue {
                            display: block;
                            color: $blue_3;
                        }
                    }

                    &_number {
                        @include font-fluid(24px, 24px, 'Montserrat-Bold');

                        color: $black_1;
                        margin-bottom: 7%;
                    }

                    &_description {
                        @include font-fluid(14px, 24px, 'Montserrat-Regular');

                        color: $gray_7;

                        span {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

// screen width >=1160px
@media only screen and (min-width: $site_width) {

    .advantages_section {

        .description_inner .advantages_title {
            font-size: 40px;
            line-height: 45px;
        }

        .description_inner {
            
            .advantages_item_title {
                font-size: 16px;
                line-height: 26px;
            }
            
            .advantages_item_number {
                font-size: 24px;
                line-height: 24px;
            }
            
            .advantages_item_description {
                font-size: 14px;
                line-height: 24px;
            }
        }
    }
}