.advantages {
    overflow: hidden;

    &_heading {
        @include background(url('../img/main/advantages/advantages_header.png'));

        position: relative;
        padding-bottom: 18.3%;
        background-color: $black_1;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 34%;
            height: 100%;
            background-color: $black_1;
        }

        &_svg {
            position: absolute;
            bottom: 17.7%;
            left: 30.7%;
            width: 58%;
            fill: $gray_7;
        }
    }

    &_description {
        @include background(url('../img/main/advantages/advantages_bg.png'));

        position: relative;
        background-size: 75% 120%;
        background-color: $gray_4;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 64.37%;
            padding-bottom: 10.42%;
            transform: translateY(-50%);
            background-color: $white_1;
        }

        &_inner {
            position: relative;
            max-width: $site_width;
            margin: auto;
            padding: 3.64% 0;

            .advantages {

                &_title {
                    @include font(40px, 45px, 'PlayfairDisplay-Bold');

                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, -55%);
                    color: $black_1;

                    &::first-letter {
                        color: $blue_3;
                    }
                }

                &_list {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    padding: 11.45% $main_horizontal_padding 5.21%;
                }

                &_item {
                    width: 25%;
                    padding-left: 10px;
                    margin-bottom: 10.53%;

                    &::before {
                        content: "";
                        position: relative;
                        top: -10%;
                        display: block;
                        width: 10%;
                        border-top: 2px solid $blue_3;
                    }

                    &_title {
                        @include font(16px, 26px, 'Montserrat-Bold');

                        color: $black_1;
                        margin-bottom: 7%;

                        &_blue {
                            display: block;
                            color: $blue_3;
                        }
                    }

                    &_number {
                        @include font(24px, 24px, 'Montserrat-Bold');

                        color: $black_1;
                        margin-bottom: 7%;
                    }

                    &_description {
                        @include font(14px, 24px, 'Montserrat-Regular');

                        color: $gray_7;

                        span {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
