.banner {
    @include background(url("../img/main/banner/bg_banner.png"), no-repeat, top, right, contain);

    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding-top: 4.7vw;
    background-color: $blue_1;

    &_inner {
        width: 100%;
        max-width: 1160px;
        margin: auto;
        padding: 6% $main_horizontal_padding 7.3%;
    }

    &_title {
        @include font(40px, 45px, 'PlayfairDisplay-Bold');

        margin-bottom: 3.88%;
        color: $white_1;
    }

    &_description {
        display: flex;
        justify-content: space-between;
    }

    &_paragraph {
        @include font(14px, 27px, 'Montserrat-Light');

        width: 750px;
        color: $gray_1;
    }

    &_label {
        align-self: flex-end;
    }

    &_footer {
        width: 100%;
        background-color: $blue_1;
        color: $gray_1;
        border-top: 1px solid $gray_3;

        &_list {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            max-width: $site_width;
            margin: auto;
            padding: 2.86% $main_horizontal_padding;
        }

        &_item {
            width: 32%;
        }

        &_link {

            &:hover .banner_footer_title,
            &:hover .banner_footer_description {
                color: $blue_2;
            }
        }

        &_title {
            @include font(14px, 17px, 'Montserrat-Bold');

            color: $white_1;
            margin-bottom: 5.55%;
            transition: 0.3s;

        }

        &_description {
            @include font(12px, 21px, 'Montserrat-Light');

            overflow: hidden;
            max-height: 43px;
            color: $gray_2;
            transition: 0.3s;
        }
    }
}
