.partners {
    position: relative;
    background-color: $white_1;

    &::before {
        content: "";
        position: absolute;
        bottom: 100%;
        left: -60%;
        width: 100%;
        padding-bottom: 5.73%;
        background-color: #fff;
    }

    &_inner {
        position: relative;
        max-width: $site_width;
        margin: auto;
        padding: 0 $main_horizontal_padding;
    }

    &_title {
        @include font(40px, 45px, 'PlayfairDisplay-Bold');

        position: absolute;
        bottom: calc(100% - 22.5px);
        left: 10px;

        &::first-letter {
            color: $blue_3;
        }
    }

    &_list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        padding: 12.9% 0;
    }

    &_item {
        width: 20%;
    }

    &_img {
        max-width: 100%;
        margin: auto;
        object-fit: cover;
    }
}