.responses {
    position: relative;
    background-color: $gray_4;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 60%;
        padding-bottom: 10.5%;
        background-color: $gray_5;
    }

    &_inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: $site_width;
        margin: auto;
        padding: 4.2% $main_horizontal_padding 6.25%;
    }

    &_title {
        @include font(40px, 40px, 'PlayfairDisplay-Bold');

        text-align: center;
        margin-bottom: 15.5%;
        z-index: 1;

        &::first-letter {
            color: $blue_3;
        }
    }

    &_slider {
        margin-bottom: 0;
    }

    &_slide {

        &.slick-slide {
            display: flex;
            align-items: flex-start;
        }
    }

    .js_slide_from_slides {
        @include font(40px, 40px, 'Montserrat-Bold');

        position: absolute;
        left: 115px;
        bottom: calc(100% + 175px);
        color: $gray_12;

        span {
            color: $black_1;
        }
    }
    
// Slick slider start
    .slick-dotted.slick-slider {
        margin-bottom: 0;
    }

    .slick-dots {
        position: absolute;
        bottom: calc(100% + 190px);
        right: 0;
        width: auto;
        height: 15px;
        z-index: 1;

        li {
            width: 10px;
            height: 10px;

            button:before {
                color: $gray_2;
            }

            &.slick-active button:before {
                color: $blue_3;
            }
        }
    }

    .slick-prev {
        top: unset;
        left: 0;
        bottom: calc(100% + 175px);
        z-index: 1;

        &::before {
            content: '';
            display: block;
            height: 20px;
            background-image: url(../img/svg/main/slider-left-arrow-button.svg);
            background-size: contain;
            opacity: 0.5;
        }
    }

    .slick-next {
        top: unset;
        left: 250px;
        bottom: calc(100% + 175px);
        z-index: 1;

        &::before {
            content: '';
            display: block;
            height: 20px;
            background-image: url(../img/svg/main/slider-right-arrow-button.svg);
            background-size: contain;
            opacity: 0.5;
        }
    }
// Slick slider end

    &_photo {
        margin-right: 15px;

        &_img {
            border-radius: 50%;
            max-width: unset;
        }
    }

    &_description {

        .title {
            @include font(14px, 24px, 'Montserrat-Bold');

            margin-bottom: 20px;
        }

        .paragraph {
            @include font(14px, 24px, 'Montserrat-Light');

            max-height: 220px;
            font-style: italic;
        }
    }
}