.services_checkbox {
    display: none;
}

.services {
    @include background(url("../img/main/services/bg_services.png"), no-repeat, top, right, contain);

    position: relative;
    background-color: $gray_4;
    width: 100%;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 34.1%;
        padding-bottom: 10.4%;
        background-color: $gray_5;
    }

    &_inner {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        max-width: $site_width;
        margin: auto;
        padding: 4.43% $main_horizontal_padding;
    }

    &_title_description_wrap {
        margin-bottom: 6.14%;
    }

    &_title {
        @include font(40px, 45px, 'PlayfairDisplay-Bold');

        position: relative;
        display: inline-block;
        color: $black_1;
        
        &::first-letter {
            color: $blue_3;
        }

        &::before {
            content: " ";
            position: absolute;
            bottom: 0;
            left: 120%;
            width: 100%;
            height: 1px;
            background-color: $blue_3;
        }
    }

    &_description {
        @include font(14px, 26px, 'Montserrat-Regular');

        width: 31.58%;
        margin: auto;
        color: $black_1;
    }

    &_list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &_item {
        position: relative;
        width: 22.9%;
    }

    &_link {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 9.6% 11.5%;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: $gray_6;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $blue_4;
            opacity: 0;
            transition: 0.2s;
            z-index: -1;
        }

        &:hover::before {
            opacity: 0.7;
        }

        &:hover .services_link_more {
            color: $white_1;
        }

        &:hover .services_link_more_svg {
            fill: $white_1;
        }

        &_img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &_title {
            @include font(16px, 26px, 'Montserrat-Bold');

            color: $white_1;

            span {
                display: block;
            }
        }

        &_more {
            @include font(14px, 24px, 'Montserrat-Bold');

            color: $blue_3;
            transition: 0.2s;


            &_svg {

                fill: $blue_3;
                transition: 0.2s;

                &_wrap {
                    display: inline-block;
                    width: 30px;
                }
            }
        }
    }
}
