.services {
    @include background(url("../img/main/services/bg_services.png"), no-repeat, top, right, contain);

    background-color: $gray_4;
    width: 100%;

    &_inner {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        max-width: $site_width;
        margin: auto;
        padding: 4.43% $main_horizontal_padding;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 76.3%;
            width: 100%;
            height: 32%;
            background-color: $gray_5;
        }
    }

    &_title_description_wrap {
        margin-bottom: 6.14%;
    }

    &_title {
        @include font(40px, 45px, 'PlayfairDisplay-Bold');

        position: relative;
        display: inline-block;
        color: $black_1;
        
        &::first-letter {
            color: $blue_3;
        }

        &::before {
            content: " ";
            position: absolute;
            bottom: 0;
            left: 120%;
            width: 100%;
            height: 1px;
            background-color: $blue_3;
        }
    }
    
    &_description {
        @include font(14px, 26px, 'Montserrat-Regular');
        
        width: 31.58%;
        margin: auto;
        color: $black_1;
    }

    &_list {
        display: flex;
        justify-content: space-between;
    }

    &_item {
        position: relative;
        width: 22.8%;
    }

    &_link {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: $gray_6;
        transition: background 1s;

        &:hover {
            background: $blue_4;
        }

        &:hover .services_link_fake {
            color: $white_1;
        }

        &:hover svg {
            fill: $white_1;
        }

        &_img {
            width: 100%;
            object-fit: cover;
        }

        &_title {
            @include font(16px, 26px, 'Montserrat-Bold');

            position: absolute;
            top: 5%;
            left: 50%;
            width: 80%;
            transform: translateX(-50%);
            color: $white_1;

            span {
                display: block;
            }
        }
        
        &_fake {
            @include font(14px, 24px, 'Montserrat-Bold');
            
            position: absolute;
            bottom: 10%;
            left: 10%;
            color: $blue_3;
            white-space: nowrap;

            svg {
                position: relative;
                left: 10px;
                width: 25%;
                fill: $blue_3;
            }
        }
    }
}
